.sidebar {



  .side-links-wrap {
    padding: 20px 0;
    .side-links {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .side-link {
      display: block;
      padding: 15px;
      margin-bottom: 3px;
      font-size: 12px;
      background-color: $light-sky;
      text-decoration: none !important;
      text-transform: uppercase;
      color: $dark-blue;
      transition: background-color .2s ease;
      .new-item {
        content: 'НОВИНКА';
        background-color: $orange;
        color: white;
        font-weight: 400 !important;
        font-size: 10px;
        padding: 1px 4px;
        margin-right: 5px;
      }
      &:hover {
        background-color: $medium-sky;
        font-weight: 700;
      }
    }
    .side-item {
      &.active {
        .side-link {
          background-color: $medium-sky;
          font-weight: 700;
        }
      }
    }
  }
  .dop-links-wrap {
    padding: 10px 0;
    .dop-links-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 7px;
    }
    .dop-link {
      display: inline-block;
      color: $dark-blue;
      text-decoration: none !important;
      font-size: 15px;
      margin-bottom: 5px;
      transition: all .15s ease;
      i {
        margin-right: 10px;
        font-size: 16px;
      }
      &:hover {
        color: $orange;
      }
      &.dop-download {
        i {
          &:before {
            width: 30px;
            text-align: center;
          }
          font-size: 20px;
          background-color: $light-sky;
        }
      }
    }
  }
  .dop-info-wrap {
    padding: 10px 0;
    .dop-info-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 7px;
    }
    .dop-info-text {
      padding: 10px;
      border: 2px solid $light-sky;
      margin-bottom: 20px;
    }
    .dop-info-desc {
      font-size: 13px;
      margin-bottom: 10px;
    }
    .dop-info-date {
      font-size: 13px;
    }
  }
  .discont-wrap {
    border: 4px solid $sky-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    .disc-link {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all .15s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
    .disc-text {
      padding: 20px 30px;
      font-size: 15px;
    }
    .disc-title {
      font-size: 26px;
      font-weight: 600;
      color: $orange;
      margin-bottom: 10px;
    }
    .disc-pic {
      height: auto;
      img {
        object-fit: contain;
      }
    }
  }

}