/* fira-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v8-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
  url('../fonts/fira-sans-v8-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fira-sans-v8-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fira-sans-v8-cyrillic_latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v8-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
  url('../fonts/fira-sans-v8-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fira-sans-v8-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fira-sans-v8-cyrillic_latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-v8-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
  url('../fonts/fira-sans-v8-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fira-sans-v8-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fira-sans-v8-cyrillic_latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v8-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
  url('../fonts/fira-sans-v8-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/fira-sans-v8-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/fira-sans-v8-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/fira-sans-v8-cyrillic_latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}