.footer {
  background: #003595;
  color: #fff;
  padding-top: 25px;
  .logo_brand {
    display: inline-block;
    height: 78px;
    background: url("../img/icons/logo.svg") no-repeat;
    padding-bottom: 22px;
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 25px;
  }
  .menu {
    display: flex;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .menu_list {
      margin-right: 50px;
      .list_item {
        display: block;
        margin-bottom: 13px;
        font-size: 12px;
        color: #fff !important;
        padding: 0 !important;
      }
      .list_item_drop {
        display: none;
      }
    }
  }
  .footer_adress, .footer_contacts {
    .title {
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255,255,255, 0.5);
      margin-bottom: 10px;
      display: inline-block;
      padding-right: 20px;
    }
    .subtitle, .subtitle2 {
      font-size: 14px;
      margin-bottom: 130px;
    }
  }
  .footer_contacts {
    .subtitle, .subtitle2 {
      color: #fff;
      display: block;
      margin: 0;
    }
  }
  .bottom {
    background: linear-gradient(180deg, #00318A 0%, #003595 72.38%);
    .bottom_block {
      font-size: 12px;
      color: #94BAFF;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      .copyrights {
        display: block;
        color: #94BAFF;
        text-decoration: none;
      }
    }
  }
}
a {
  cursor: pointer;
}