/* global page styles */
html, body {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

h1 {
  line-height: inherit;
}
.LiquidFill {
  img {
    visibility: hidden;
  }
}
main.page-index {
  section {
    opacity: 0;
    &.animated {
      animation: fadeInUp2 .5s both;
    }
  }
}
.btn_prev, .link, .point_link {
  &:hover {
    text-decoration: none;
  }
}
#pagination {
  .pagination_block {
    .page_link {
      text-decoration: none;
    }
  }
}
.breadcrumb {
  flex-wrap: inherit;
  .breadcrumb-item {
    display: flex;
  }
}
@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale3d(1,1,1);
  }
  50% {
    transform: scale3d(.9,.9,.9);
  }
  100% {
    transform: scale3d(1,1,1);
  }
}