.header_main {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position-x: center;
  max-height: 1024px;
  min-height: 830px;
  transition: .4s;
  .back_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,15,70, 0.55);
  }
  .header_bg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  nav {
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding-right: 0;
    input.form-control {
      width: 43px;
      background: transparent;
      border: none;
      border-radius: 0;
      color: #FFFFFF;
      padding-left: 32px;
      background: url("../img/icons/search-icon.png") no-repeat;
      background-position-y: center;
      border-bottom: 1px solid transparent;
      transition: 1s;
      cursor: pointer;
      font-size: 14px;
      &.show {
        border-bottom: 1px solid #FFFFFF;
        width: auto;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .form-control::placeholder {
      color: #fff;
    }
    .navbar-brand {
      background: url("../img/icons/logo.svg") no-repeat;
      width: 140px;
      height: 53px;
    }
    .nav-link {
      font-family: FiraSans, sans-serif;
      color: #fff;
      font-size: 12px;
      margin-right: 30px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .dropdown-menu {
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
      border-radius: 0;
      border: none;
    }
    .navbar-toggler {
      background-color: #fff;
    }
    .navbar-toggler-icon {
      background-image: url("../img/icons/menu.png");
    }
  }
  .slider {
    position: relative;
    .swiper-container {
      margin-top: 100px;
      .proj-link {
        color: #fff;
        line-height: 18px;
        font-size: 11px;
        top: 3%;
        position: absolute;
        z-index: 2;
      }
      .swiper-slide {
        .slide-title, .slide-text {
          color: #fff;
          margin-left: 16%;
        }
        .slide-title {
          font-weight: bold;
          line-height: normal;
          font-size: 54px;
          margin-bottom: 7%;
          max-width: 690px;
          word-wrap: break-word;
        }
        .slide-text {
          line-height: 24px;
          font-size: 14px;
          max-width: 286px;
          min-height: 120px;
        }
      }
      .proj-link-item {
        display: inline-block;
        padding: 20px 43px;
        font-size: 14px;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        margin-left: 16%;
        margin-top: 10px;
        transition: .5s;
        &:hover {
          text-decoration: none;
          border: 2px solid rgba(255, 255, 255, 1);
          background: rgba(255, 255, 255, 0.2);
        }
      }
      .swiper-button-prev {
        left: 0;
        background-image: url("../img/icons/slide-left.png");
        background-size: contain;
        width: 65px;
        height: 65px;
        transition: .6s;
        top: 65%;
        &:hover {
          background-image: url("../img/icons/slide-left-hover.png");
        }
      }
      .swiper-button-next {
        right: 0;
        top: 65%;
        background-image: url("../img/icons/slide-right.png");
        background-size: contain;
        width: 65px;
        height: 65px;
        transition: .6s;
        &:hover {
          background-image: url("../img/icons/slide-right-hover.png");
        }
      }
    }
    .vert-line {
      height: 26vh;
      border-right: 1px solid rgba(255,255,255,.5);
      margin-right: 30px;
    }
  }
  .swiper-pagination, .contacts .contacts-phone, .contacts .contacts-email {
    color: #fff;
  }
  .contacts {
    position: relative;
    .contacts-phone, .contacts-email {
      display: block;
      font-weight: 500;
      line-height: normal;
      font-size: 18px;
      margin-bottom: 12px;
      color: #fff;
    }
    .swiper-pagination {
      right: 10px;
      bottom: 0;
      width: auto;
      left: auto;
      font-weight: 300;
      line-height: normal;
      font-size: 18px;
      .swiper-pagination-current {
        font-size: 32px;
      }
    }
  }
  .swipe {
    background: url("../img/icons/swipe-icon.png") no-repeat;
    background-size: cover;
    width: 92px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  a {
    cursor: pointer;
  }
}
.header_main nav input.form-control.show {
  max-width: 180px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_main {
    nav {
      .collapse form .form-control.show {
        width: 141px;
      }
      .nav-link {
        margin-right: 20px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header_main {
    min-height: 750px;
    .slider .vert-line {
      display: none;
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .header_main {
    background-position-x: center;
    min-height: 669px;
    .slider .swiper-container  .swiper-slide .slide-title {
      font-size: 43px;
      max-width: 578px;
    }
    .slider .vert-line {
      display: none;
    }
  }
}
@media (max-width: 575px) {
  .header_main {
    background-position-x: center;
    min-height: 666px;
    .proj-link {
      display: none;
    }
    .slider .swiper-container  .swiper-slide {
      .slide-title {
        font-size: 30px;
        max-width: 424px;
        margin-left: 21%;
        word-wrap: break-word;
        min-height: 200px;
      }
      .slide-text {
        font-size: 12px;
        max-width: 215px;
        margin-left: 21%;
      }
    }
    .slider .swiper-container .proj-link-item {
      padding: 15px 35px;
      margin-bottom: 10px;
    }
    .contacts {
      .contacts-phone, .contacts-email {
        font-size: 16px;
      }
      .swiper-pagination {
        font-size: 16px;
        .swiper-pagination-current {
          font-size: 24px;
        }
      }
    }
    .slider .vert-line {
      display: none;
    }
  }
}
@media (max-width: 375px) {
  .header_main {
    .slider .swiper-slide .slide-title {
      font-size: 26px;
    }
    .slider .swiper-container {
      margin-top: 50px;
    }
    .vert-line {
      display: none;
    }
  }
}