.header {
  background: #003595;
  margin-bottom: 55px;
  nav {
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding-right: 0;
    input.form-control {
      width: 43px;
      background: transparent;
      border: none;
      border-radius: 0;
      color: #FFFFFF;
      padding-left: 32px;
      background: url("../img/icons/search-icon.png") no-repeat;
      background-position-y: center;
      border-bottom: 1px solid transparent;
      transition: 1s;
      cursor: pointer;
      font-size: 14px;
      &.show {
        border-bottom: 1px solid #FFFFFF;
        width: auto;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .form-control::placeholder {
      color: #fff;
    }
    .navbar-brand {
      background: url("../img/icons/logo.svg") no-repeat;
      width: 140px;
      height: 53px;
    }
    .nav-link {
      font-family: FiraSans, sans-serif;
      color: #fff;
      font-size: 12px;
      margin-right: 30px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .dropdown-menu {
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
      border-radius: 0;
      border: none;
    }
    .navbar-toggler {
      background-color: #fff;
    }
    .navbar-toggler-icon {
      background-image: url("../img/icons/menu.png");
    }
  }
  a {
    cursor: pointer;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    nav {
    .collapse form .form-control.show {
      width: 141px;
    }
      .nav-link {
        margin-right: 20px;
      }
    }
  }
}
