.about {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #info {
    margin-bottom: 40px;
    .info_title {
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #003595;
      margin-top: 58px;
      margin-bottom: 65px;
    }
    .info_text {
      line-height: 24px;
      font-size: 14px;
      color: #000000;
    }
  }
  #history {
    position: relative;
    border-top: 1px solid transparent;
    .history_bg {
      position: absolute;
      background-repeat: no-repeat;
      background-position: top right;
      height: 445px;
      width: 52%;
      top: 0;
      z-index: 1;
      .history_title {
        color: #fff;
        font-weight: bold;
        line-height: normal;
        font-size: 36px;
        letter-spacing: 0.1em;
        padding-bottom: 39px;
        border-bottom: 1px solid #fff;
        text-align: right;
        margin-top: 58px;
        margin-right: 130px;
      }
    }
    .history_block {
      margin-top: 145px;
      background: #003595;
      .block_bg {
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        height: 50%;
        width: 33%;
        top: 36%;
      }
    }
  }
  #contacts {
    position: relative;
    .contacts_title {
      padding-top: 40px;
      height: 275px;
      position: absolute;
      width: 100%;
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      background-color: #003595;
      background-image: url("../img/pics/contacts_bg.png");
      background-size: auto;
      background-position: bottom;
    }
    .contacts_block {
      margin-top: 113px;
      display: flex;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
      background: #fff;
      margin-bottom: 65px;
      #map_route {
        width: 50%;
      }
      .contacts_content {
        background-image: url("../img/pics/cont_block_bg.png");
        background-repeat: no-repeat;
        background-size: 44%;
        margin-left: 40px;
        width: 60%;
        background-position-x: 112%;
        background-position-y: 49px;
        .telephone, .email {
          position: relative;
          margin-top: 38px;
          padding-left: 36px;
          background-repeat: no-repeat;
          background-position-y: 6px;
          .title {
            font-weight: bold;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
          .descr {
            display: block;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
        }
        .telephone {
          background-image: url("../img/icons/cont-icon-call.png");
        }
        .email {
          background-image: url("../img/icons/cont-icon-email.png");
        }
        .adress {
          padding-left: 36px;
          line-height: 20px;
          font-size: 14px;
          margin: 35px 0;
        }
        .link {
          display: inline-block;
          position: relative;
          left: 36px;
          font-style: italic;
          font-weight: normal;
          line-height: 21px;
          font-size: 12px;
          color: #F72E2E;
          border-bottom: 1px dashed #F72E2E;
          margin-bottom: 25px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about #history .history_bg {
    width: 50%;
  }
  #first_block {
    padding-left: 614px;
    .frst-timeline-img {
      left: 462px !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #nav_page {
    margin-bottom: 15px;
  }
  #info .info_title {
    margin-bottom: 25px;
  }
  .about #history {
    .history_bg {
      background: none !important;
      height: auto;
      width: auto;
      .history_title {
        padding-bottom: 0;
        border-bottom: none;
        margin-top: 0px;
        margin-right: 0px;
        color: #003595;
        padding-left: 15px;
      }
    }
    .history_block {
      margin-top: 70px;
    }
    
    #first_block {
      padding-left: 0px;
      padding-right: 46px;
      &::before {
        margin-right: -1px;
      }
      .frst-timeline-content-inner {
        padding-right: 90px;
        &::after {
          right: -12px;
        }
      }
      .frst-timeline-img {
        left: auto !important;
        margin-right: -22px;
      }
    }
    .frst-timeline-block {
      margin-right: 85px;
    }
    .block_bg {
      display: none;
    }
  }
  .about #contacts .contacts_block {
    margin-top: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #nav_page {
    margin-bottom: 15px;
  }
  #info .info_title {
    margin-bottom: 25px;
  }
  .about {
    #contacts {
      .contacts_block {
        flex-direction: column;
        margin-top: 30px;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          background-size: 39%;
          margin-left: 13px;
          background-position-x: 104%;
          background-position-y: 14px;
          .email, .telephone {
            margin-top: 15px;
          }
          .adress {
            margin: 20px 0;
          }
        }
      }
    }
    #history {
      .history_bg {
        background: none !important;
        height: auto;
        width: auto;
        .history_title {
          padding-bottom: 0;
          border-bottom: none;
          margin-top: 0px;
          margin-right: 0px;
          color: #003595;
          padding-left: 15px;
        }
      }
      .history_block {
        margin-top: 70px;
      }
    
      #first_block {
        padding-left: 0px;
        padding-right: 46px;
        &::before {
          margin-right: -1px;
        }
        .frst-timeline-content-inner {
          padding-right: 90px;
          &::after {
            right: -12px;
          }
        }
        .frst-timeline-img {
          left: auto !important;
          margin-right: -22px;
        }
      }
      .frst-timeline-block {
        margin-right: 85px;
      }
      .block_bg {
        display: none;
      }
    }
  }
}
@media (max-width: 575px) {
  #nav_page {
    margin-bottom: 15px;
  }
  .about {
    #info .info_title {
      margin-bottom: 25px;
    }
    #contacts {
      .contacts_block {
        flex-direction: column;
        margin-top: 30px;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          background-size: 39%;
          margin-left: 13px;
          background-position-x: 104%;
          background-position-y: 14px;
          .email, .telephone {
            margin-top: 15px;
          }
          .adress {
            margin: 20px 0;
          }
        }
      }
    }
    #history {
      .history_bg {
        background: none !important;
        height: auto;
        width: auto;
        .history_title {
          padding-bottom: 0;
          border-bottom: none;
          margin-top: 0px;
          margin-right: 0px;
          color: #003595;
          padding-left: 15px;
        }
      }
      .history_block {
        margin-top: 86px;
      }
      
      #first_block {
        padding-left: 0px;
        padding-right: 46px;
        &::before {
          margin-right: -1px;
        }
        .frst-timeline-content-inner {
          padding-right: 10px;
          &::after {
            right: -12px;
          }
        }
        .frst-timeline-img {
          left: auto !important;
          margin-right: -22px;
        }
      }
      .frst-timeline-block {
        margin-right: 30px;
      }
      .block_bg {
        display: none;
      }
      .frst-timeline-style-1 .frst-timeline-content-inner {
        font-size: 13px;
        padding-bottom: 0;
        padding-right: 10px;
      }
    }
  }
  .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle2 {
    margin-bottom: 30px;
  }
}