.blog_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #blog {
    margin-bottom: 69px;
    .blog_title {
      display: inline-block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      padding-bottom: 40px;
      color: #003595;
      border-bottom: 1px solid #003595;
      margin-top: 58px;
      margin-bottom: 65px;
    }
    .blog_text {
      line-height: 24px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 35px;
    }
    .blog_block {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      .item {
        position: relative;
        width: 255px;
        height: 270px;
        margin-right: 30px;
        margin-bottom: 30px;
        background-color: rgba(0, 53, 149, 0.47);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: .5s;
        .item-title {
          position: absolute;
          font-weight: bold;
          line-height: normal;
          font-size: 14px;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          top: 206px;
          width: 100%;
          transition: .5s;
        }
        .bg {
          position: absolute;
          height: 100%;
          width: 100%;
          transition: .5s;
          background: rgba(6, 62, 145, 0.8);
          mix-blend-mode: color;
        }
        .bg_blue {
          background: rgba(0, 53, 149, 0.47);
          position: absolute;
          height: 100%;
          width: 100%;
          transition: .5s;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(4) {
          background-color: #003595;
          .logo {
            position: absolute;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &:nth-child(6) {
          background: #003595;
          .logo {
            position: absolute;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &:hover {
          .bg_blue {
            background: rgba(179,206,255,0.6);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          }
          .bg {
            opacity: 0;
          }
          .item-title {
            color: #003595;
          }
        }
      }
    }
  }
  #pagination {
    margin-bottom: 135px;
    .pagination_block {
      display: flex;
      justify-content: space-around;
      .page_link {
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #DADADA;
        transition: .4s;
        padding: 10px 0;
        &.start:hover, &.prev:hover, &.next:hover, &.end:hover {
          color: #003595;
        }
      }
      .num-block {
        text-align: center;
        .page_link {
          margin: 0px 7px;
          padding: 14px 18px;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid #C4C4C4;
          }
          &.active {
            color: #003595;
            border: 1px solid #003595;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog_page {
    #blog {
      .blog_block {
        padding: 0 37px;
        .item {
          &:nth-child(4n) {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog_page {
    #blog {
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .blog_block {
        padding: 0 6px;
        .item {
          width: 206px;
          height: 220px;
          margin-right: 20px;
          margin-bottom: 20px;
          .item-title {
            top: 160px;
          }
          .logo {
            background-position: center 20% !important;
          }
          &:nth-child(4n) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .blog_page {
    #blog {
      margin-bottom: 20px;
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .blog_block {
        padding: 0 29px;
        .item {
          width: 206px;
          height: 220px;
          margin-right: 20px;
          margin-bottom: 20px;
          .item-title {
            top: 160px;
          }
          .logo {
            background-position: center 20% !important;
          }
          &:nth-child(4n) {
            margin-right: 20px;
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 11px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
      
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .blog_page {
    #blog {
      margin-bottom: 20px;
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .blog_block {
        padding: 0 29px;
        .item {
          margin: 10px auto;
          &:nth-child(4n) {
            margin: 10px auto;
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 11px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
            
          }
        }
      }
    }
  }
}