.blog_item_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #blog {
    margin-bottom: 69px;
    .container {
      .row:nth-child(3) {
        position: relative;
      }
    }
    .blog_title {
      display: inline-block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      padding-bottom: 40px;
      color: #003595;
      border-bottom: 1px solid #003595;
      margin-top: 58px;
      margin-bottom: 65px;
    }
    .blog_prev, .blog_next {
      display: block;
      position: absolute;
      width: 65px;
      height: 66px;
      background-color: rgba(255,255,255,.5);
      .blur {
        position: absolute;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
    .blog_prev {
      top: 40%;
      left: 0;
      .blur {
        background-image: url("../img/icons/blog_prev.png");
        
      }
    }
    .blog_next {
      top: 40%;
      right: 0;
      .blur {
        background-image: url("../img/icons/blog_next.png");
        
      }
    }
    .blog_date, #date {
      display: inline-block;
      margin-bottom: 43px;
      line-height: normal;
      font-size: 11px;
      letter-spacing: 0.04em;
      color: #8C8C8C;
    }
    .blog_content_title {
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
      margin-bottom: 40px;
    }
    #blog_content {
      display: flex;
      position: relative;
      justify-content: space-between;
      .blog_content_text {
        line-height: 24px;
        font-size: 14px;
        color: #000000;
        font-style: normal;
        font-weight: normal;
      }
      .blog_image {
        margin-right: 30px;
        min-width: 350px;
        height: 60vh;
        max-height: 457px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  #gallery {
    background-image: url("../img/pics/gallery_bg.png");
    background-repeat-y: no-repeat;
    background-position-y: 83%;
    .gallery_title {
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
      margin-left: 90px;
    }
    .swiper-container {
      width: 100%;
      margin: 20px auto;
      max-width: 920px;
      .swiper-slide-container {
        height:100%;
      }
      &.gallery-top {
        width: 100%;
        height: 100vh;
        max-height: 689px;
      }
      &.gallery-thumbs {
        width: 100%;
        .swiper-slide {
          max-height: 215px;
          height: 30vh;
          cursor: pointer;
          opacity: 0.8;
        }
        .swiper-slide-active {
          background-color: #B3CEFF;
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          opacity: 1;
          img {
            opacity: .5;
          }
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      top: auto;
      bottom: 10%;
      width: 65px;
      height: 66px;
      background-repeat: no-repeat;
      background-size: auto;
      &:focus {
        outline: none;
      }
    }
    .swiper-button-next {
      background-image: url("../img/icons/blog_next.png");
    }
    .swiper-button-prev {
      background-image: url("../img/icons/blog_prev.png");
    }
  }
  #news_more {
    margin-bottom: 70px;
    .news_more_title {
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
      margin-bottom: 44px;
      margin-top: 50px;
    }
    .block_news {
      display: flex;
      flex-wrap: wrap;
      .news-item {
        position: relative;
        width: 255px;
        height: 270px;
        margin-right: 30px;
        margin-bottom: 30px;
        transition: .5s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        .title {
          position: absolute;
          font-weight: bold;
          line-height: normal;
          font-size: 14px;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          top: 206px;
          width: 100%;
          transition: .5s;
        }
        .bg {
          position: absolute;
          height: 100%;
          width: 100%;
          transition: .5s;
          background: rgba(6, 62, 145, 0.8);
          mix-blend-mode: color;
        }
        .bg_blue {
          background: rgba(0, 53, 149, 0.47);
          position: absolute;
          height: 100%;
          width: 100%;
          transition: .5s;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(4) {
          background: #003595;
          .logo {
            position: absolute;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        &:hover {
          .bg_blue {
            background: rgba(179,206,255,0.6);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
          }
          .bg {
            opacity: 0;
          }
          .title {
            color: #003595;
          }
        }
      }
    }
    .news_link {
      line-height: 18px;
      font-size: 11px;
      color: #003595;
    }
  }
  #pagination {
    margin-bottom: 135px;
    .page_link {
      font-weight: bold;
      line-height: normal;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #DADADA;
      transition: .4s;
      padding: 10px 0;
      &.start:hover, &.prev:hover, &.next:hover, &.end:hover {
        color: #003595;
      }
    }
    .num-block {
      text-align: center;
      .page_link {
        margin: 0px 7px;
        padding: 14px 18px;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid #C4C4C4;
        }
        &.active {
          color: #003595;
          border: 1px solid #003595;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blog_item_page {
    #gallery {
      .gallery_title {
        padding-left: 16px;
      }
      .swiper-container {
        &.gallery-top {
          max-height: 552px;
          max-width: 737px;
        }
        &.gallery-thumbs {
          max-width: 737px;
          .swiper-wrapper {
            .swiper-slide {
              max-height: 165px;
            }
          }
        }
      }
    }
    #news_more {
      .block_news {
        .news-item {
          width: 217px;
          height: 232px;
          margin-right: 20px;
          margin-bottom: 20px;
          .title {
            top: 178px;
          }
          &:nth-child(2) {
            .logo {
              background-position: center 40%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog_item_page {
    #blog {
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 1;
              }
              &:nth-child(2) {
                order: 2;
              }
            }
          }
        }
      }
      #blog_content {
        .blog_image {
          min-width: 270px;
          height: 385px;
        }
      }
    }
    #gallery {
      .gallery_title {
        padding-left: 23px;
      }
      .swiper-container {
        &.gallery-top {
          max-height: 390px;
          max-width: 521px;
        }
        &.gallery-thumbs {
          max-width: 521px;
          .swiper-wrapper {
            .swiper-slide {
              max-height: 110px;
            }
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        bottom: 8%;
      }
    }
    #news_more .block_news {
      justify-content: center;
      .news-item:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .blog_item_page {
    #blog {
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
      #blog_content {
        display: block;
        .blog_image {
          min-width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
          img {
            margin: 0 auto;
            display: block;
          }
        }
        .blog_content_text {
          padding: 0 10px;
        }
      }
      .blog_prev, .blog_next {
        top: 20%;
      }
      .blog_content_title {
        margin-bottom: 15px;
      }
      .blog_date, #date {
        margin-bottom: 23px;
      }
    }
    #gallery {
      .gallery_title {
        padding-left: 7px;
      }
      .swiper-container {
        &.gallery-top {
          max-height: 304px;
          max-width: 406px;
        }
        &.gallery-thumbs {
          max-width: 406px;
          .swiper-wrapper {
            .swiper-slide {
              max-height: 85px;
            }
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        bottom: 9%;
        width: 45px;
        height: 45px;
        background-size: contain;
      }
    }
    #news_more {
      .block_news {
        justify-content: center;
        .news-item {
          width: 217px;
          height: 232px;
          margin-right: 20px;
          margin-bottom: 20px;
          .title {
            top: 178px;
          }
          &:nth-child(2) {
            margin-right: 0;
            .logo {
              background-position: center 40%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .blog_item_page {
    #blog {
      .blog_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
      #blog_content {
        display: block;
        .blog_image {
          min-width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
          img {
            margin: 0 auto;
            display: block;
          }
        }
        .blog_content_text {
          padding: 0 10px;
        }
      }
      .blog_prev, .blog_next {
        top: 20%;
      }
      .blog_content_title {
        
        margin-bottom: 15px;
      }
      .blog_date, #date {
        margin-bottom: 23px;
      }
    }
    #gallery {
      .gallery_title {
        padding-left: 7px;
      }
      .swiper-container {
        &.gallery-top {
          max-height: 232px;
          max-width: 310px;
        }
        &.gallery-thumbs {
          max-width: 310px;
          .swiper-wrapper {
            .swiper-slide {
              max-height: 60px;
            }
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        bottom: 9%;
        width: 35px;
        height: 35px;
        background-size: contain;
      }
    }
    #news_more {
      .news_more_title {
        text-align: center;
      }
      .block_news {
        justify-content: center;
        .news-item {
          margin-right: 0;
        }
      }
    }
  }
}