.career_tab_2 {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #carier_tabs {
    .tab {
      display: block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #9B9B9B;
      padding-bottom: 40px;
      border-bottom: 1px solid #9B9B9B;
      margin-top: 58px;
      margin-bottom: 65px;
      &.active {
        color: #003595;
        border-bottom: 1px solid #003595;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  #tabs_content {
    position: relative;
    padding-bottom: 60px;
    .container {
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      background: #fff;
    }
    .vacancy {
      margin-bottom: 75px;
      &:first-child {
        margin-top: 75px;
      }
      .title {
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #003595;
        margin-bottom: 45px;
        max-width: 430px;
      }
      .duties_title, .requirements_title, .conditions_title {
        line-height: 24px;
        font-size: 14px;
        color: #003595;
        margin-top: 28px;
      }
      .duties_text, .requirements_text, .conditions_text {
        line-height: 24px;
        font-size: 14px;
        color: #000000;
        margin-top: 13px;
      }
    }
    .bg {
      position: absolute;
      width: 100%;
      background: #003595;
      top: 230px;
      height: calc(100% - 230px);
      z-index: -1;
    }
  }
  #contacts {
    position: relative;
    .contacts_title {
      padding-top: 40px;
      height: 275px;
      position: absolute;
      width: 100%;
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      background-color: #003595;
      background-image: url("../img/pics/contacts_bg.png");
      background-size: auto;
      background-position: bottom;
    }
    .contacts_block {
      margin-top: 113px;
      display: flex;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
      background: #fff;
      margin-bottom: 133px;
      #map_route {
        width: 50%;
      }
      .contacts_content {
        background-image: url("../img/pics/cont_block_bg.png");
        background-repeat: no-repeat;
        background-size: 44%;
        margin-left: 40px;
        width: 60%;
        background-position-x: 112%;
        background-position-y: 49px;
        .telephone, .email {
          position: relative;
          margin-top: 38px;
          padding-left: 36px;
          background-repeat: no-repeat;
          background-position-y: 6px;
          .title {
            font-weight: bold;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
          .descr {
            display: block;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
        }
        .telephone {
          background-image: url("../img/icons/cont-icon-call.png");
        }
        .email {
          background-image: url("../img/icons/cont-icon-email.png");
        }
        .adress {
          padding-left: 36px;
          line-height: 20px;
          font-size: 14px;
          margin: 35px 0;
        }
        .link {
          display: inline-block;
          position: relative;
          left: 36px;
          font-style: italic;
          font-weight: normal;
          line-height: 21px;
          font-size: 12px;
          color: #F72E2E;
          border-bottom: 1px dashed #F72E2E;
          margin-bottom: 25px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
  .career_tab_2 {
    #carier_tabs .tab {
      padding-bottom: 20px;
    }
    #tabs_content {
      .vacancy {
        padding: 0 30px;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .career_tab_2 {
    #carier_tabs .tab {
      padding-bottom: 20px;
    }
    #tabs_content {
      .vacancy {
        &:first-child {
          margin-top: 35px;
        }
        padding: 0 30px;
      }
    }
    #contacts {
      .contacts_block {
        margin-bottom: 80px;
        flex-direction: column;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          .telephone, .email {
            margin-top: 20px;
          }
          .adress {
            margin: 20px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .career_tab_2 {
    #carier_tabs {
      margin-bottom: 50px;
      .tab {
        padding-bottom: 20px;
        font-size: 28px;
      }
    }
    #tabs_content {
      .vacancy {
        &:first-child {
          margin-top: 35px;
        }
        padding: 0 30px;
      }
    }
    #contacts {
      .contacts_title {
        padding-top: 20px;
        font-size: 34px;
      }
      .contacts_block {
        margin-bottom: 80px;
        flex-direction: column;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          max-width: 300px;
          background-image: none;
          .telephone, .email {
            margin-top: 20px;
          }
          .adress {
            margin: 20px 0;
            max-width: 272px;
          }
        }
      }
    }
  }
}