.career_tab_1 {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #carier_tabs {
    .tab {
      display: block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #9B9B9B;
      padding-bottom: 40px;
      border-bottom: 1px solid #9B9B9B;
      margin-top: 58px;
      margin-bottom: 65px;
      &.active {
        color: #003595;
        border-bottom: 1px solid #003595;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  #tabs_content {
    .subtitle {
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
      padding-right: 10px;
      border-right: 1px solid #9B9B9B;
      padding-bottom: 40px;
    }
    .text {
      line-height: 24px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 85px;
    }
    .content_block {
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      padding-top: 50px;
      padding-left: 50px;
      padding-bottom: 100px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 89px;
      background-color: #fff;
      .item {
        max-width: 350px;
        margin-bottom: 70px;
        background-repeat: no-repeat;
        background-position: top left;
        .item_icon {
          min-width: 100px;
          height: 60px;
          margin-bottom: 30px;
        }
        &:nth-child(1) {
          background-image: url("../img/icons/icon_1.png");
        }
        &:nth-child(2) {
          background-image: url("../img/icons/icon_2.png");
        }
        &:nth-child(3) {
          background-image: url("../img/icons/icon_3.png");
        }
        &:nth-child(4) {
          background-image: url("../img/icons/icon_4.png");
        }
        &:nth-child(5) {
          background-image: url("../img/icons/icon_5.png");
        }
        &:nth-child(6) {
          background-image: url("../img/icons/icon_6.png");
        }
        .item_text {
          line-height: 24px;
          font-size: 14px;
          color: #000000;
        }
        .line {
          display: flex;
          .item_title {
            line-height: 24px;
            font-size: 14px;
            color: #003595;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
  .career_tab_1 {
    #carier_tabs .tab {
      padding-bottom: 20px;
    }
    #tabs_content {
      .subtitle {
        text-align: left;
        border-right: none;
        padding-bottom: 20px;
      }
      .content_block {
        padding-left: 0;
        .item {
          max-width: 261px;
          margin-bottom: 50px;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .career_tab_1 {
    #carier_tabs .tab {
      padding-bottom: 20px;
    }
    #tabs_content {
      .subtitle {
        text-align: left;
        border-right: none;
        padding-bottom: 20px;
      }
      .content_block {
        padding-left: 0;
        .item {
          margin-bottom: 50px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .career_tab_1 {
    #carier_tabs {
      margin-bottom: 50px;
      .tab {
        padding-bottom: 20px;
        font-size: 28px;
      }
    }
    #tabs_content {
      .subtitle {
        text-align: left;
        border-right: none;
        padding-bottom: 20px;
      }
      .content_block {
        padding-left: 0;
        .item {
          margin-bottom: 50px;
        }
      }
      .text {
        margin-bottom: 45px;
      }
    }
  }
}