.contacts_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #contacts {
    margin-bottom: 150px;
    position: relative;
    .contacts_title {
      display: inline-block;
      font-weight: bold;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #003595;
      padding-bottom: 38px;
      border-bottom: 1px solid #003595;
      margin-top: 58px;
    }
    .contacts_content {
      background: #FFFFFF;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 60px;
      padding-right: 55px;
      padding-bottom: 48px;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      .telephone, .email, .adress {
        position: relative;
        margin-top: 38px;
        padding-left: 36px;
        background-repeat: no-repeat;
        background-position-y: 6px;
        max-width: 210px;
        .title {
          font-weight: bold;
          line-height: 31px;
          font-size: 18px;
          color: #000000;
        }
        .descr {
          display: block;
          line-height: 31px;
          font-size: 18px;
          color: #000000;
        }
      }
      .telephone {
        background-image: url("../img/icons/cont-icon-call.png");
      }
      .email {
        background-image: url("../img/icons/cont-icon-email.png");
      }
      .adress {
        background-image: url("../img/icons/cont-icon-place.png");
        padding-left: 36px;
        line-height: 20px;
        font-size: 14px;
        margin-top: 30px;
        max-width: none;
      }
      .link {
        display: inline-block;
        font-style: italic;
        font-weight: normal;
        line-height: 21px;
        font-size: 12px;
        color: #F72E2E;
        border-bottom: 1px dashed #F72E2E;
        margin-top: 30px;
      }
    }
    .map {
      position: relative;
      height: 90vh;
      max-height: 761px;
    }
    #map_route {
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: normal;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
      margin-top: 150px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .contacts_page {
    #contacts {
      margin-bottom: 50px;
      .contacts_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      #map_route {
        position: relative;
        margin-top: 20px;
        height: 50vh;
        max-height: 461px;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contacts_page {
    #contacts {
      margin-bottom: 50px;
      .contacts_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      #map_route {
        position: relative;
        margin-top: 20px;
        height: 50vh;
        max-height: 461px;
      }
    }
  }
}
@media (max-width: 575px) {
  .contacts_page {
    #contacts {
      margin-bottom: 50px;
      .contacts_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .map {
        height: auto;
        max-height: none;
        .contacts_content {
          .telephone, .email, .adress {
            .title, a, .descr {
              font-size: 14px;
            }
          }
        }
      }
      #map_route {
        margin-top: 20px;
        position: relative;
        height: 50vh;
        max-height: 461px;
      }
    }
  }
}