.contacts_route {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  .contacts_title {
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #003595;
    padding-bottom: 38px;
    border-bottom: 1px solid #003595;
    margin-top: 58px;
    margin-bottom: 65px;
  }
  #map_route {
    width: 100%;
    height: 500px;
    margin-bottom: 45px;
  }
}