*,
*::after,
*::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frst-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.frst-container {
    /*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
    margin: 90px auto;
}

.mobile-window .frst-container {
    max-width: 678px;
}

.tablet-window .frst-container {
    max-width: 992px;
}
