.page-index {
  background-image: url("../img/pics/index_bg.png");
  background-size: contain;
  a {
    cursor: pointer;
  }
  #mission {
    margin-top: 63px;
    position: relative;
    background: url("../img/pics/earth.png") no-repeat;
    background-size: contain;
    background-position-y: top;
    background-position-x: 118%;
    height: 80vh;
    min-height: 520px;
    max-height: 579px;
    .mission_title {
      font-weight: bold;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #003595;
      border-right: 1px solid #9B9B9B;
      height: 63%;
    }
    .mission_text {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 100px;
    }
  }
  #advantages {
    position: relative;
    .advantages_bg {
      position: absolute;
      background-repeat: no-repeat;
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
    }
    .advantages_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      text-align: right;
      letter-spacing: 0.1em;
      color: #fff;
      position: absolute;
      border-bottom: 1px solid #fff;
      padding-bottom: 17px;
      padding-left: 10vw;
      z-index: 1;
      margin-top: 12%;
      p {
        margin: 0;
        padding: 0;
      }
    }
    .advantages_subtitle {
      font-weight: 600;
      line-height: 22px;
      font-size: 14px;
      margin: 35px 0;
    }
    .advantages_block {
      position: relative;
      background: #003595;
      padding: 0px 76px 20px 54px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .item {
        width: 168px;
        height: 200px;
        color: #fff;
        padding-bottom: 15px;
        text-align: center;
        transition: .6s;
        .item_logo {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 61px;
          height: 48px;
          margin: 0 auto;
          margin-top: 23px;
        }
        &:nth-child(1) .item_logo {
          background-image: url("../img/icons/icon-1.png");
        }
        &:nth-child(2) .item_logo {
          background-image: url("../img/icons/icon-2.png");
        }
        &:nth-child(3) .item_logo {
          background-image: url("../img/icons/icon-3.png");
        }
        &:nth-child(4) .item_logo {
          background-image: url("../img/icons/icon-4.png");
        }
        &:nth-child(5) .item_logo {
          background-image: url("../img/icons/icon-5.png");
        }
        &:nth-child(6) .item_logo {
          background-image: url("../img/icons/icon-6.png");
        }
        .item-text {
          margin: 21px 17px 15px;
          font-size: 12px;
          text-align: center;
          text-transform: lowercase;
        }
        &:hover {
          background: #3267C7;
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  #projects {
    position: relative;
    height: 860px;
    background: #003595;
    .projects_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      padding-top: 60px;
      margin-bottom: 40px;
    }
    .map {
      position: relative;
      background-image: url("../img/pics/map.png");
      background-size: contain;
      width: 100%;
      height: 625px;
      .point {
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: url("../img/icons/pop-btn.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:nth-child(1) {
          top: 20%;
          left: 70%;
        }
        &:nth-child(2) {
          top: 78%;
          left: 85%;
        }
        &:nth-child(3) {
          top: 12%;
          left: 37%;
        }
        &:nth-child(4) {
          top: 31%;
          left: 16%;
        }
        &.show {
          transform: rotate(45deg);
        }
      }
    }
    .proj_bg {
      position: absolute;
      background-image: url("../img/pics/proj_bg.png");
      width: 100%;
      height: 322px;
      bottom: 0;
    }
  }
  #p1, #p2, #p3, #p4 {
    display: none;
  }
  #partners {
    padding-bottom: 32px;
    margin-bottom: 50px;
    .partners_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #003595;
      text-align: center;
      margin: 50px 0;
    }
    .partners_block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        width: 240px;
        height: 90px;
        background-position: center;
        background-repeat: no-repeat;
        &:nth-child(1) {
          margin-bottom: 70px;
        }
        &:nth-child(2) {
          border-left: 1px solid #9B9B9B;
          border-right: 1px solid #9B9B9B;
        }
        &:nth-child(3) {
          border-right: 1px solid #9B9B9B;
        }
        &:nth-child(4) {
        }
        &:nth-child(5) {
          margin-bottom: 40px;
        }
        &:nth-child(6) {
          border-left: 1px solid #9B9B9B;
          border-right: 1px solid #9B9B9B;
        }
        &:nth-child(7) {
          border-right: 1px solid #9B9B9B;
        }
        &:nth-child(8) {
        }
      }
    }
    .partners_link {
      display: block;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
    }
  }
  #portfolio {
    height: 350px;
    margin-bottom: 43px;
    &>.container {
      background-repeat: no-repeat !important;
      background-size: contain  !important;
      height: 100%;
    }
    .portfolio_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #003595;
      margin-bottom: 40px;
    }
    .portfolio_text {
      font-weight: normal;
      line-height: 20px;
      font-size: 12px;
      color: #343434;
      margin-bottom: 32px;
    }
    .portfolio_link {
      display: block;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #003595;
      margin-bottom: 32px;
      &:hover {
        text-decoration: underline;
      }
    }
    .portfolio_image {
      width: 500px;
      img {
        max-width: 100%;
      }
    }
  }
  #blog {
    .blog_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #003595;
      margin-bottom: 15px;
    }
    .blog_subtitle {
      font-size: 12px;
      text-align: center;
      color: #343434;
      margin-bottom: 50px;
    }
    .blog_item {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      transition: .3s;
      &:hover {
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
        .blog_info {
          .blog_more {
            color: #F72E2E;
          }
        }
      }
      .blog_info {
        width: 50%;
        .blog_date {
          margin-top: 12px;
          font-size: 12px;
          color: #343434;
          margin-bottom: 33px;
        }
        .blog_item_title {
          font-weight: bold;
          line-height: 25px;
          font-size: 18px;
          color: #343434;
          margin-bottom: 15px;
        }
        .blog_text {
          line-height: 20px;
          font-size: 12px;
          color: #343434;
        }
        .blog_more {
          display: inline-block;
          font-style: italic;
          font-weight: normal;
          line-height: normal;
          font-size: 12px;
          text-transform: lowercase;
          margin: 30px 0;
          color: #8C8C8C;
        }
      }
    }
    &>div>div:nth-child(2)>div:nth-child(1) .blog_item_bg {
      width: 45%;
    }
    &>div>div:nth-child(2)>div:nth-child(2) .blog_item_bg {
      width: 45%;
    }
    .blog_item_bg {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .btn {
      display: block;
      margin: 45px auto;
      padding: 20px 67px;
      font-size: 14px;
      color: #FFFFFF;
      background: #3267C7;
      box-shadow: 0px 12px 35px rgba(0, 53, 149, 0.51);
      border-radius: 100px;
      transition: .5s;
      &:focus {
        outline: none;
        background: #193b77;
      }
      &:hover {
        background: #2450a0;
      }
    }
  }
  #contacts {
    position: relative;
    .contacts_title {
      padding-top: 40px;
      height: 275px;
      position: absolute;
      width: 100%;
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      background-color: #003595;
      background-image: url("../img/pics/contacts_bg.png");
      background-size: auto;
      background-position: bottom;
    }
    .contacts_block {
      margin-top: 113px;
      display: flex;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
      background: #fff;
      margin-bottom: 65px;
      #map_route {
        width: 50%;
      }
      .contacts_content {
        background-image: url("../img/pics/cont_block_bg.png");
        background-repeat: no-repeat;
        background-size: 44%;
        margin-left: 40px;
        width: 60%;
        background-position-x: 112%;
        background-position-y: 49px;
        .telephone, .email {
          position: relative;
          margin-top: 38px;
          padding-left: 36px;
          background-repeat: no-repeat;
          background-position-y: 6px;
          .title {
            font-weight: bold;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
          .descr {
            display: block;
            line-height: 31px;
            font-size: 18px;
            color: #000000;
          }
        }
        .telephone {
          background-image: url("../img/icons/cont-icon-call.png");
        }
        .email {
          background-image: url("../img/icons/cont-icon-email.png");
        }
        .adress {
          padding-left: 36px;
          line-height: 20px;
          font-size: 14px;
          margin: 35px 0;
        }
        .link {
          display: inline-block;
          position: relative;
          left: 36px;
          font-style: italic;
          font-weight: normal;
          line-height: 21px;
          font-size: 12px;
          color: #F72E2E;
          border-bottom: 1px dashed #F72E2E;
          margin-bottom: 25px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    #mission {
      background-size: 65%;
      background-position-y: center;
      background-position-x: 169%;
    }
    #advantages {
      background-size: cover;
      .advantages_title {
        text-align: center;
        position: relative;
        padding-left: 0vw;
        z-index: 0;
        padding-top: 20px;
        margin-top: 0;
      }
      .advantages_subtitle {
        color: #fff;
        text-align: center;
      }
      .advantages_bg {
        width: 100%;
        background-size: cover;
      }
    }
    #projects {
      max-height: 725px;
      .map {
        height: 524px;
        width: 930px;
      }
    }
    #partners {
      .partners_block .item {
        width: 230px;
      }
    }
    #blog {
      &>div>div:nth-child(2)>div:nth-child(1) .blog_item_bg, &>div>div:nth-child(2)>div:nth-child(2) .blog_item_bg {
        width: 35%;
        background-position: center;
      }
      .blog_item {
        display: flex;
        justify-content: space-between;
        .blog_info {
          width: 60%;
          .blog_date {
            margin-top: 0px;
            margin-bottom: 10px;
          }
          .blog_more {
            margin: 10px 0;
          }
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #mission {
      background-size: 65%;
      background-position-y: center;
      background-position-x: 169%;
      min-height: 452px;
      max-height: 520px;
    }
    #advantages {
      background-size: cover;
      .advantages_title {
        text-align: center;
        position: relative;
        padding-left: 0vw;
        z-index: 0;
        padding-top: 20px;
        margin-top: 0;
      }
      .advantages_subtitle {
        color: #fff;
        text-align: center;
      }
      .advantages_bg {
        width: 100%;
        background-size: cover;
      }
    }
    #projects {
      max-height: 590px;
      .map {
        height: 389px;
      }
    }
    #partners {
      .partners_block .item {
        width: 230px;
        &:nth-child(3), &:nth-child(6) {
          border: none;
        }
        &:nth-child(5) {
          border-left: 1px solid #9B9B9B;
          border-right: 1px solid #9B9B9B;
        }
        &:nth-child(8) {
          margin-bottom: 70px;
        }
      }
    }
    #portfolio {
      height: auto;
      .container {
        background: none !important;
      }
    }
    #blog {
      &>div>div:nth-child(2)>div:nth-child(1) .blog_item_bg, &>div>div:nth-child(2)>div:nth-child(2) .blog_item_bg {
        width: 40%;
      }
      .blog_item {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        .blog_info {
          width: 50%;
          padding-left: 50px;
          .blog_date {
            margin-top: 0px;
            margin-bottom: 10px;
          }
          .blog_more {
            margin: 10px 0;
          }
        }
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 70px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .header_main {
      background-position-x: center;
      min-height: 669px;
      .slider .swiper-slide .slide-title {
        font-size: 43px;
        max-width: 578px;
      }
    }
    #mission {
      background-size: 65%;
      background-position-y: center;
      background-position-x: 169%;
      min-height: 390px;
      max-height: 439px;
      .mission_title {
        border: none;
        height: auto;
        margin-bottom: 11px;
      }
      .mission_text {
        margin-bottom: 40px;
      }
    }
    #advantages {
      background-size: cover;
      .advantages_title {
        text-align: center;
        position: relative;
        padding-left: 0vw;
        z-index: 0;
        padding-top: 20px;
        margin-top: 0;
      }
      .advantages_subtitle {
        color: #fff;
        text-align: center;
      }
      .advantages_bg {
        width: 100%;
        background-size: cover;
      }
    }
    #projects {
      max-height: 490px;
      .map {
        height: 282px;
        width: 501px;
      }
    }
    #partners {
      .partners_block .item {
        width: 230px;
        &:nth-child(odd) {
          border-right: 1px solid #9B9B9B;
          margin-bottom: 70px;
        }
        &:nth-child(even) {
          border: none;
        }
      }
    }
    #portfolio {
      height: auto;
      .container {
        background: none !important;
      }
      .portfolio_image {
        width: 250px;
        margin-bottom: 15px;
      }
    }
    #blog {
      &>div>div:nth-child(2)>div:nth-child(1) .blog_item_bg, &>div>div:nth-child(2)>div:nth-child(2) .blog_item_bg {
        width: 40%;
      }
      .blog_item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        .blog_info {
          width: 48%;
          .blog_date {
            margin-top: 0px;
            margin-bottom: 10px;
          }
          .blog_more {
            margin: 10px 0;
          }
        }
      }
    }
    #contacts {
      .contacts_block {
        display: flex;
        flex-direction: column;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          background-size: 39%;
          margin-left: 13px;
          background-position-x: 104%;
          background-position-y: 14px;
          .email, .telephone {
            margin-top: 15px;
          }
          .adress {
            margin: 20px 0;
          }
        }
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 64px;
      font-size: 12px;
    }
  }
  @media (max-width: 575px) {
    .header_main {
      background-position-x: center;
      min-height: 669px;
      .proj-link {
        display: none;
      }
      .slider .swiper-slide {
        .slide-title {
          font-size: 30px;
          max-width: 424px;
          margin-left: 21%;
        }
        .slide-text {
          font-size: 12px;
          max-width: 215px;
          margin-left: 21%;
        }
      }
      .vert-line {
        display: none;
      }
    }
    #mission {
      background-size: 65%;
      background-position-y: center;
      background-position-x: 169%;
      min-height: 390px;
      max-height: none;
      height: auto;
      .mission_title {
        border: none;
        height: auto;
        margin-bottom: 11px;
      }
      .mission_text {
        margin-bottom: 40px;
        max-height: none;
        height: auto;
      }
    }
    #advantages {
      background-size: cover;
      .advantages_block {
        padding: 0 10px;
        .item {
          width: 120px;
          word-wrap: break-word;
        }
      }
      .advantages_title {
        text-align: center;
        position: relative;
        padding-left: 0vw;
        z-index: 0;
        padding-top: 20px;
        margin-top: 0;
      }
      .advantages_subtitle {
        color: #fff;
        text-align: center;
      }
      .advantages_bg {
        width: 100%;
        background-size: cover;
      }
    }
    #projects {
      max-height: 410px;
      .map {
        max-height: 206px;
        min-height: 194px;
        width: 366px;
        margin: 0 auto;
      }
    }
    #partners {
      .partners_block .item {
        width: 190px;
        &:nth-child(odd) {
          border-right: 1px solid #9B9B9B;
          margin-bottom: 70px;
        }
        &:nth-child(even) {
          border: none;
        }
      }
    }
    #portfolio {
      height: auto;
      .container {
        background: none !important;
      }
    }
    #blog {
      &>div>div:nth-child(2)>div:nth-child(1) .blog_item_bg, &>div>div:nth-child(2)>div:nth-child(2) .blog_item_bg {
        width: 40%;
        background-position-y: center;
      }
      .blog_item {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        .blog_info {
          width: 56%;
          .blog_date {
            margin-top: 0px;
            margin-bottom: 10px;
          }
          .blog_more {
            margin: 10px 0;
          }
        }
      }
      .btn {
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
    #contacts {
      .contacts_block {
        display: flex;
        flex-direction: column;
        #map_route, .contacts_content {
          width: 100%;
        }
        #map_route {
          height: 215px;
        }
        .contacts_content {
          background-size: 39%;
          margin-left: 13px;
          background-position-x: 104%;
          background-position-y: 14px;
          .email, .telephone {
            margin-top: 15px;
          }
          .adress {
            margin: 20px 0;
          }
        }
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 64px;
      font-size: 12px;
    }
    .menu {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 375px) {
    .header_main {
      min-height: 484px;
      .slider .swiper-slide .slide-title {
        font-size: 26px;
      }
      .slider .swiper-container {
        margin-top: 50px;
      }
      .vert-line {
        display: none;
      }
    }
    #mission {
      min-height: 464px;
      max-height: none;
      .mission_text {
        max-height: none;
      }
    }
    #advantages {
      .advantages_title {
        font-size: 32px;
      }
      .advantages_block {
        .item {
          width: 120px;
          word-wrap: break-word;
        }
      }
    }
    #projects {
      .projects_title {
        font-size: 32px;
      }
      .map {
        max-height: 180px;
        min-height: 141px;
        width: 320px;
      }
    }
    #partners {
      .partners_title{
        font-size: 32px;
        margin-bottom: 12px;
      }
      .partners_block {
        .item {
          background-size: 65%;
          width: 96px;
          &:nth-child(odd) {
            border-right: none;
            margin-bottom: 0px;
          }
        }
      }
    }
    #portfolio .portfolio_title, #blog .blog_title, #contacts .contacts_title {
      font-size: 32px;
    }
    #contacts .contacts_block .contacts_content .adress {
      font-size: 12px;
    }
  }
}
.popover {
  max-width: 393px !important;
  left: -131px;
  position: relative;
  .arrow {
    left: 256px;
  }
  .popover-body {
    display: flex;
    flex-direction: row;
    padding: 0;
    .point-img {
      width: 45%;
      border-radius: 5px 0 0 5px;
    }
    .point-content {
      width: 55%;
      padding: 20px;
      .point_title {
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        color: #343434;
        padding-bottom: 12px;
        border-bottom: 1px solid #9B9B9B;
        margin-bottom: 12px;
      }
      .point_text {
        font-size: 10px;
        margin-bottom: 7px;
      }
      .point_link {
        display: inline-block;
        font-size: 12px;
        color: #F72E2E;
        padding-bottom: 2px;
        border-bottom: 1px dashed #F72E2E;
      }
    }
  }
}