.page-map-index {
  a {
    cursor: pointer;
  }
  #projects {
    position: relative;
    height: 860px;
    background: #003595;
    .projects_title {
      font-weight: 800;
      line-height: normal;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      padding-top: 60px;
      margin-bottom: 40px;
    }
    .map {
      position: relative;
      background-image: url("../img/pics/map.png");
      background-size: contain;
      width: 100%;
      height: 625px;
      .point {
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: url("../img/icons/pop-btn.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:nth-child(1) {
          top: 20%;
          left: 70%;
        }
        &:nth-child(2) {
          top: 78%;
          left: 85%;
        }
        &:nth-child(3) {
          top: 12%;
          left: 37%;
        }
        &:nth-child(4) {
          top: 31%;
          left: 16%;
        }
        &.show {
          transform: rotate(45deg);
        }
      }
    }
    .proj_bg {
      position: absolute;
      background-image: url("../img/pics/proj_bg.png");
      width: 100%;
      height: 322px;
      bottom: 0;
    }
  }
  #point-content {
    display: none;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    #projects {
      max-height: 725px;
      .map {
        height: 524px;
        width: 930px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #projects {
      max-height: 590px;
      .map {
        height: 389px;
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 70px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    #projects {
      max-height: 490px;
      .map {
        height: 282px;
        width: 501px;
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 64px;
      font-size: 12px;
    }
  }
  @media (max-width: 575px) {
    #projects {
      max-height: 410px;
      .map {
        max-height: 206px;
        min-height: 194px;
        width: 366px;
        margin: 0 auto;
      }
    }
    .footer .footer_adress .subtitle, .footer .footer_contacts .subtitle {
      margin-bottom: 64px;
      font-size: 12px;
    }
    .menu {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 375px) {
    #projects {
      .projects_title {
        font-size: 32px;
      }
      .map {
        max-height: 180px;
        min-height: 141px;
        width: 320px;
      }
    }
  }
}