.partners_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #partners {
    margin-bottom: 60px;
    background-image: url("../img/pics/part_bg.png");
    background-repeat-y: no-repeat;
    background-position-y: 16%;
    .partners_title {
      display: inline-block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      padding-bottom: 40px;
      color: #003595;
      border-bottom: 1px solid #003595;
      margin-top: 58px;
      margin-bottom: 65px;
    }
    .page_text {
      line-height: 24px;
      font-size: 14px;
      color: #003595;
      margin-bottom: 70px;
      max-width: 458px;
    }
    .partner_block {
      background: #FFFFFF;
      mix-blend-mode: normal;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.15);
      color: #000000;
      font-size: 14px;
      line-height: 24px;
      padding-left: 90px;
      padding-bottom: 90px;
      padding-right: 45px;
      padding-top: 25px;
      margin-bottom: 30px;
      .partner_logo {
        margin-bottom: 35px;
        height: 100px;
        width: 200px;
        img {
          max-width: 100%;
          max-height: 110px;
        }
      }
      .partner_name {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .partners_page {
    #partners {
      .partner_block {
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-top: 20px;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .partners_page {
    #partners {
      margin-bottom: 20px;
      .partners_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .partners_text {
        margin-bottom: 25px;
      }
      .partners_content {
        .partners_item {
          .partners_item_bg {
            display: none;
          }
          .partners_item_content {
            .content_row {
              &:nth-child(2) {
                margin-bottom: 25px;
              }
              &:nth-child(3) {
                font-size: 10px;
                position: initial;
              }
            }
          }
        }
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 11px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
          
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .partners_page {
    #partners {
      margin-bottom: 20px;
      .filters {
        padding: 20px 15px;
        .filters_block {
          .item {
            padding: 8px 7px;
            padding-right: 27px;
            margin-bottom: 10px;
            margin-right: 10px;
            font-size: 10px;
          }
        }
      }
      .partners_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .partners_text {
        margin-bottom: 25px;
      }
      .partners_content {
        margin-top: 30px;
        .partners_item {
          .partners_item_bg {
            display: none;
          }
          .partners_item_content {
            .content_row {
              &:nth-child(1) {
                display: block;
                .tag {
                  margin-bottom: 0;
                  display: inline-block;
                }
              }
              &:nth-child(2) {
                margin-bottom: 25px;
              }
              &:nth-child(3) {
                font-size: 10px;
                position: initial;
              }
            }
          }
        }
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 10px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
          
          }
        }
      }
    }
  }
}