.projects_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #projects {
    margin-bottom: 60px;
    .projects_title {
      display: inline-block;
      font-weight: bold;
      font-size: 36px;
      letter-spacing: 0.1em;
      padding-bottom: 40px;
      color: #003595;
      border-bottom: 1px solid #003595;
      margin-top: 58px;
      margin-bottom: 65px;
    }
    .filters {
      background: #003595;
      padding: 30px 32px 30px 35px;
      color: #fff;
      .filters_title {
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 26px;
      }
      form {
        .filters_block, .filters_block_check {
          display: flex;
          flex-wrap: wrap;
          transition: .5s;
          .item {
            position: relative;
            padding: 10px 15px;
            padding-right: 40px;
            border: 1px solid #fff;
            margin-bottom: 15px;
            margin-right: 15px;
            font-size: 11px;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            &::after {
              content: "+";
              position: absolute;
              right: 15px;
              top: 10px;
              font-size: 21px;
              line-height: 15px;
            }
            &:hover {
              text-decoration: none;
              color: #fff;
            }
          }
          .more_item {
            line-height: 18px;
            font-size: 11px;
            padding-top: 12px;
            margin-left: auto;
            color: #fff;
            transition: .5s;
            &:hover {
              text-decoration: none;
              color: #fff;
            }
            &.open {
              display: block;
            }
            &.closed {
              display: none;
            }
          }
          input {
            display: none;
          }
        }
        .filters_block_check {
          .item {
            background: rgba(255, 255, 255, 0.2);
            &::after {
              content: "-";
            }
          }
        }
        .item {
          &.hide {
            display: none;
          }
        }
        #collapseMore {
          width: 222px;
          &.show {
            display: flex;
            flex-direction: column;
          }
        }
        &.state-more {
          .filters_block {
            border-bottom: 1px solid #7F9ACA;
            margin-bottom: 15px;
            .more_item {
              &.open {
                display: none;
              }
              &.closed {
                display: block;
              }
            }
          }
          .btn-group {
            .apply_filters {
              display: block;
            }
          }
        }
        &.state-check {
          .filters_block {
            border-top: 1px solid #7F9ACA;
            padding-top: 15px;
          }
          .btn-group {
            .clear_filters {
              display: block;
            }
            .apply_filters {
              display: block;
            }
          }
        }
        .btn-group {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 15px;
          button {
            cursor: pointer;
            &.clear_filters {
              display: none;
              transition: .5s;
              line-height: 18px;
              font-size: 11px;
              color: #FFFFFF;
              background: transparent;
              padding: 10px 15px;
              border: 1px solid #FFFFFF;
              border-radius: 50px;
              margin-right: 9px;
              &.show {
                display: block;
              }
            }
            &.apply_filters {
              display: none;
              transition: .5s;
              line-height: 18px;
              font-size: 11px;
              color: #003595;
              background: #fff;
              padding: 10px 19px;
              border: 1px solid #FFF;
              border-radius: 50px;
              margin-right: 9px;
            }
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
    }
    .projects_text {
      line-height: 24px;
      font-size: 14px;
    }
    .projects_content {
      margin-top: 70px;
      .projects_item {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        display: flex;
        &:hover {
          text-decoration: none;
        }
        .projects_item_bg {
          position: relative;
          max-width: 350px;
          min-width: 250px;
          width: 42%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 204px;
          .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 53, 149, 0.47);
          }
          .blue {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #75A6F1;
            mix-blend-mode: color;
          }
        }
        .projects_item_content {
          width: 100%;
          padding: 15px 30px;
          padding-bottom: 30px;
          position: relative;
          .content_row {
            display: flex;
            justify-content: space-between;
            .tag {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              .tag_item {
                margin-right: 10px;
                padding: 9px 15px;
                font-size: 11px;
                letter-spacing: 0.04em;
                color: #646464;
                background: #F1F1F1;
                margin-bottom: 17px;
              }
            }
            .company {
              font-weight: bold;
              font-size: 11px;
              letter-spacing: 0.04em;
              padding: 9px 0;
              color: #003595;
              text-transform: uppercase;
              text-align: right;
            }
            .service {
              font-weight: bold;
              line-height: normal;
              font-size: 11px;
              letter-spacing: 0.04em;
              color: #003595;
            }
            .date_year {
              font-weight: bold;
              line-height: normal;
              font-size: 14px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #003595;
            }
            &:nth-child(3) {
              position: absolute;
              bottom: 30px;
              font-weight: bold;
              line-height: normal;
              font-size: 14px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #003595;
            }
          }
        }
      }
    }
  }
  #pagination {
    margin-bottom: 90px;
    .pagination_block {
      display: flex;
      justify-content: space-around;
      .page_link {
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #DADADA;
        transition: .4s;
        padding: 10px 0;
        &.start:hover, &.prev:hover, &.next:hover, &.end:hover {
          color: #003595;
        }
      }
      .num-block {
        text-align: center;
        .page_link {
          margin: 0px 7px;
          padding: 14px 18px;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid #C4C4C4;
          }
          &.active {
            color: #003595;
            border: 1px solid #003595;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects_page {
    #projects {
      .projects_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .projects_text {
        margin-bottom: 25px;
      }
      .projects_content {
        .projects_item {
          .projects_item_content {
            .content_row:nth-child(3) {
              font-size: 10px;
            }
          }
        }
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .projects_page {
    #projects {
      margin-bottom: 20px;
      .projects_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .projects_text {
        margin-bottom: 25px;
      }
      .projects_content {
        .projects_item {
          .projects_item_bg {
            display: none;
          }
          .projects_item_content {
            .content_row {
              &:nth-child(2) {
                margin-bottom: 25px;
              }
              &:nth-child(3) {
                font-size: 10px;
                position: initial;
              }
            }
          }
        }
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 11px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
          
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .projects_page {
    #projects {
      margin-bottom: 20px;
      .filters {
        padding: 20px 15px;
        .filters_block {
          .item {
            padding: 8px 7px;
            padding-right: 27px;
            margin-bottom: 10px;
            margin-right: 10px;
            font-size: 10px;
          }
        }
      }
      .projects_title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .projects_text {
        margin-bottom: 25px;
      }
      .projects_content {
        margin-top: 30px;
        .projects_item {
          .projects_item_bg {
            display: none;
          }
          .projects_item_content {
            .content_row {
              &:nth-child(1) {
                display: block;
                .tag {
                  margin-bottom: 0;
                  display: inline-block;
                }
              }
              &:nth-child(2) {
                margin-bottom: 25px;
              }
              &:nth-child(3) {
                font-size: 10px;
                position: initial;
              }
            }
          }
        }
      }
      .container {
        .row {
          &:nth-child(2) {
            &>div {
              &:nth-child(1) {
                order: 2;
              }
              &:nth-child(2) {
                order: 1;
              }
            }
          }
        }
      }
    }
    #pagination {
      margin-bottom: 50px;
      .pagination_block {
        .page_link {
          font-size: 10px;
        }
        .num-block {
          .page_link {
            margin: 0px 2px;
            padding: 10px 14px;
          
          }
        }
      }
    }
  }
}