.service_page {
  a {
    cursor: pointer;
  }
  #nav_page {
    .btn_prev {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 18px 22px 17px 15px;
      border: 2px solid #E7E7E7;
      color: #DADADA;
      transition: .2s;
      &:hover {
        color: #000;
        border: 2px solid #000;
      }
    }
    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
      align-items: baseline;
      .breadcrumb-item {
        line-height: 18px;
        a {
          color: #8C8C8C;
          font-size: 11px;
        }
        &.active {
          font-size: 11px;
          color: #003595;
        }
      }
      .breadcrumb-item+.breadcrumb-item::before {
        content: "⯈";
        font-size: 12px;
      }
    }
  }
  #service {
    position: relative;
    .service_bg {
      position: absolute;
      height: 600px;
      width: 40%;
      right: 0;
      top: 208px;
      background-repeat: no-repeat;
    }
    .title {
      font-weight: bold;
      line-height: normal;
      font-size: 36px;
      letter-spacing: 0.1em;
      color: #003595;
      margin-top: 58px;
      margin-bottom: 65px;
      border-bottom: 1px solid #003595;
      padding-bottom: 40px;
      display: inline-block;
    }
    .content {
      line-height: 24px;
      font-size: 14px;
      color: #000000;
      max-width: 372px;
      margin-bottom: 60px;
    }
    .service_block {
      background-color: #003595;
      background-image: url("../img/pics/bottom_bg.png");
      background-position-y: bottom;
      background-repeat-y: no-repeat;
      color: #fff;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      margin-bottom: 50px;
      .item {
        position: relative;
        max-width: 1009px;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        .item_line {
          padding-top: 1px;
          width: 19%;
          height: 1px;
          background: rgba(255,255,255,.5);
        }
        .item_logo {
          width: 15%;
          .icon {
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: top center;
            margin: 0 auto;
            margin-bottom: 26px;
          }
          .label {
            font-weight: 500;
            line-height: normal;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
          }
        }
        .item_text {
          width: 60%;
          line-height: 24px;
          font-size: 14px;
        }
        &:last-child {
          margin-bottom: 145px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .service_page {
    #service {
      .service_block {
        padding-right: 30px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service_page {
    #service {
      .service_block {
        padding-right: 30px;
        .item {
          .item_text {
            width: 54%;
          }
          .item_logo {
            width: 23%;
          }
        }
      }
      .service_bg {
        display: none;
      }
      .content {
        max-width: none;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .service_page {
    #service {
      .title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .service_block {
        padding-right: 30px;
        .item {
          display: block;
          padding-left: 25px;
          .item_line {
            display: none;
          }
          .item_text {
            width: 100%;
          }
          .item_logo {
            float: left;
            width: 135px;
            margin-right: 10px;
            .icon {
              background-position: center;
            }
          }
        }
      }
      .service_bg {
        display: none;
      }
      .content {
        max-width: none;
      }
    }
  }
}
@media (max-width: 575px) {
  .service_page {
    #service {
      .title {
        padding-bottom: 20px;
        margin-bottom: 25px;
      }
      .service_block {
        padding-right: 30px;
        .item {
          display: block;
          padding-left: 25px;
          .item_line {
            display: none;
          }
          .item_text {
            width: 100%;
          }
          .item_logo {
            float: left;
            width: 135px;
            margin-right: 10px;
            .icon {
              background-position: center;
            }
          }
        }
      }
      .service_bg {
        display: none;
      }
      .content {
        max-width: none;
      }
    }
  }
}