block footer
  footer.footer
    .container
      .row
        .col-12
          a.logo_brand(href='index.html')
      .row
        .col-xl-3.col-lg-4.col-md-5.col-sm-6.col-12
          .menu
            ul.menu_list
              li
                a.list_item(href='index.html') Главная
              li
                a#navbarDropdown.nav-link.dropdown-toggle.list_item(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  | ИО «Инсайт»
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="about.html") ИО «Инсайт»
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_1.html") Карьера
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_2.html") Вакансии
              li
                a.list_item(href='service.html') Услуги
            ul.menu_list
              li
                a.list_item(href='projects.html') Проекты
              li
                a.list_item(href='blog.html') Блог
              li
                a.list_item(href='contacts.html') Контакты
        .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-6
          .footer_adress
            .title Адрес
            .subtitle
              b г. Нижний Новгород,
              br
              | ул.Академика Сахарова, 4
        .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-6
          .footer_contacts
            .title Контакты
            a.subtitle(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
            a.subtitle2(href="mailto:info@eainsight.ru") info@eainsight.ru
    .bottom
      .container
        .row
          .col-12
            .bottom_block
              .insite_text ООО Инжиниринговое объединение «Инсайт»
              a.copyrights(href='http://nefabrika.ru', target='_blank') Сайт сделан в IT-компании «Нефабрика» © 2018