block header
  header.header_main
    .header_bg.LiquidFill
      img
    .back_bg
    .container-fluid
      .container
        nav.navbar.navbar-expand-lg.align-items-center
          a.navbar-brand(href='index.html')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='index.html') Главная
                  span.sr-only (current)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  | ИО «Инсайт»
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="about.html") О компании
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_1.html") Карьера
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_2.html") Вакансии
              li.nav-item
                a.nav-link(href='service.html') Услуги
              li.nav-item
                a.nav-link(href='partners.html') Партнеры
              li.nav-item
                a.nav-link(href='projects.html') Проекты
              li.nav-item
                a.nav-link(href='blog.html') Блог
              li.nav-item
                a.nav-link(href='contacts.html') Контакты
              li.nav-item.dropdown
            form.form-inline.my-2.my-lg-0.ml-auto
              input.form-control(type='search', placeholder='Поиск', aria-label='Search')
        section.slider
          .swiper-container
            a.proj-link(href='projects.html') Все проекты ⯈
            .swiper-wrapper
              .swiper-slide(data-link="http://yandex.ru", data-image='img/pics/bg.png')
                h1.slide-title РЕКОНСТРУКЦИЯfffffffffffffffffffffffffff ФАКЕЛЬНОЙffffffffffffffffffffffffffffffff УСТАНОВКИsssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                .slide-text Реконструкция факельной установки КГСД с подключением к ней установок ЭЛОУ-АВТ-7 и Висбрекинга
              .swiper-slide(data-link="http://youtube.com", data-image='img/pics/g1.png')
                h1.slide-title «Барселона» хочет купить Кулибали у «Наполи»
                .slide-text Международный скаут каталонцев Ариедо Брайда присутствовал на матче второго тура Лиги чемпионов, в котором неаполитанцы победили «Ливерпуль» (1:0). Международный скаут каталонцев Ариедо Брайда присутствовал на матче второго тура Лиги чемпионов, в котором неаполитанцы победили «Ливерпуль» (1:0). Международный скаут каталонцев Ариедо Брайда присутствовал на матче второго тура Лиги чемпионов, в котором неаполитанцы победили «Ливерпуль» (1:0).
              .swiper-slide(data-link="http://google.com", data-image='img/pics/img7.png')
                h1.slide-title «Барселона» может уволить Вальверде до конца года
                .slide-text Если «Барселона» покажет плохой результат в матчах с «Тоттенхэмом» и «Валенсией», Вальверде может покинуть команду до Рождества
            .swiper-button-next
            .swiper-button-prev
            a.proj-link-item(href='#') Подробнее
          .vert-line
        .contacts
          a.contacts-phone(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
          a.contacts-email(href="mailto:info@eainsight.ru") info@eainsight.ru
          .swiper-pagination
    .swipe(href="#mission")



