block header
  header.header
    .container-fluid
      .container
        nav.navbar.navbar-expand-lg.align-items-center
          a.navbar-brand(href='index.html')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='index.html') Главная
                  span.sr-only (current)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  | ИО «Инсайт»
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="about.html") О компании
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_1.html") Карьера
                  .dropdown-divider
                  a.dropdown-item(href="career_tab_2.html") Вакансии
              li.nav-item
                a.nav-link(href='service.html') Услуги
              li.nav-item
                a.nav-link(href='partners.html') Партнеры
              li.nav-item
                a.nav-link(href='projects.html') Проекты
              li.nav-item
                a.nav-link(href='blog.html') Блог
              li.nav-item
                a.nav-link(href='contacts.html') Контакты
              li.nav-item.dropdown
            form.form-inline.my-2.my-lg-0.ml-auto
              input.form-control(type='search', placeholder='Поиск', aria-label='Search')
