doctype html
html(lang='ru')
  head
    include _head

  body

    include _header
    block content
    include _footer

    include _scripts
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/custom.js')