block scripts
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='js/plugins.js')
  script(type="text/javascript", src="http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU")