extends partial/_layout

block content
  main.about
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") О компании
    section#info
      .container
        .row
          .col-lg-9.offset-lg-2
            h1.info_title ИО «ИНСАЙТ»
            .info_text
              | Текст-рыба, не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет оценить значение новых предложений. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития. Равным образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
              br
              br
              | Товарищи! постонный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа и проведение дополнительных исследовательских работ.
    section#history
      .history_block
        .block_bg(style="background-image: url(\"img/pics/history_bg_2.png\")")
        .container
          .row
            .col-12
              .frst-container.content-right-align
                .frst-timeline.frst-timeline-style-1.frst-date-opposite.frst-right-align
                  #first_block.frst-timeline-block.frst-odd-item(data-animation="slideInUp")
                    .frst-timeline-content.animated.hingeTop(style="position: relative;")
                      .frst-timeline-content-inner
                        p Образование многопрофильного инжинирингового Холдинга  «Группа Компаний Системотехника», предоставляющего полный комплекс проектно-строительных услуг.   ГК «Системотехника» активно сотрудничает с ОАО «Газпром».
                    .frst-timeline-img
                      span 2000
                        i.fa.fa-star(aria-hidden="true")
                  .frst-timeline-block.frst-even-item(data-animation="slideInUp")
                    .frst-timeline-img
                      span 2005
                        i.fa.fa-envelope(aria-hidden="true")
                    .frst-timeline-content.animated.hingeTop(style="position: relative;")
                      .frst-timeline-content-inner
                        p Под реализацию федеральной программы внедрения автоматизированных систем контроля учета газа ООО «Межрегионгаз» из ГК «Системотехника» выходит группа специалистов, которая вместе с компанией ООО «АНТ-Информ» (г.Москва) создает проектно-монтажную компанию ООО «АНТ–Системотехника» (которая в дальнейшем переименована в ООО «Системотехника–Центр»).
                  .frst-timeline-block.frst-odd-item(data-animation="slideInUp")
                    .frst-timeline-img
                      span 2008
                        i.fa.fa-cloud(aria-hidden="true")
                    .frst-timeline-content.animated.hingeTop(style="position: relative;")
                      .frst-timeline-content-inner
                        p Ориентируясь на нужды Заказчика, менеджмент ООО «Системотехника-Центр»  создаёт новое предприятие ООО «Системотехника-Сервис» - самостоятельную организацию, реализующаю инновационные принципы управления, позволяющие  выйти на качественно новый уровень в области проектирования, комплексной  автоматизации, информатизации, монтажных и пусконаладочных работ.
                  .frst-timeline-block.frst-even-item(data-animation="slideInUp")
                    .frst-timeline-img
                      span 2010
                        i.fa.fa-cog(aria-hidden="true")
                    .frst-timeline-content.animated.hingeTop(style="position: relative;")
                      .frst-timeline-content-inner
                        p Процесс ренейминга ООО «Системотехника–Сервис» и образование нового бренда ООО ИО «Инсайт», выход на металлургический и нефтехимический рынки.
                  .frst-timeline-block.frst-odd-item(data-animation="slideInUp")
                    .frst-timeline-img
                      span 2014
                        i.fa.fa-clock-o(aria-hidden="true")
                    .frst-timeline-content.animated.hingeTop(style="position: relative;")
                      .frst-timeline-content-inner
                        p С целью реализации крупных строительных проектов на рынках нефтехимии и нефтепереработки и разделяя философию бизнеса ООО ИО «Инсайт» вошло в состав крупного нефтехимического объединения «Оргнефтехим-Холдинг».
      .history_bg(style="background-image: url(img/pics/history_bg_1.png);")
        .history_title ИСТОРИЯ БРЕНДА
    section#contacts
      .contacts_title
      .container
        .row.justify-content-center
          .col-xl-10.col-lg-11.col-12
            .contacts_block
              #map_route(data-adresse="Нижний Новгород, ул. Ошараская, 77А")
              .contacts_content
                .telephone
                  .title Телефон
                  a.descr(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
                .email
                  .title Электронная почта
                  a.descr(href="mailto:info@eainsight.ru") info@eainsight.ru
                .adress
                  b г. Нижний Новгород,
                  |  ул.Академика Сахарова, 4
                a.link(href="contacts_route.html") Схема проезда