extends partial/_layout

block content
  main.blog_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Блог
    section#blog
      .container
        .row
          .col-lg-9.offset-lg-2
            h1.blog_title БЛОГ
            .blog_text Текст-рыба. С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа новых предложений. Равным образом консультация с широким активом в значительной степени обуславливает создание новых предложений. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют от нас анализа систем массового участия.
        .row
          .col-12
            .blog_block
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group.png\");")
                .bg_blue
                .bg
                .item-title ВСТРЕЧА С ГУБЕРНАТОРОМ НИЖЕГОРОДСКОЙ ОБЛАСТИ
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-1.png\");")
                .bg_blue
                .bg
                .item-title ПОЛУЧЕНЫ СЕРТИФИКАТЫ НА ПТК МОНЭКО
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-2.png\");")
                .bg_blue
                .bg
                .item-title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК "САМБО"
              a.item(href="#")
                .bg_blue
                .bg
                .logo(style="background-image: url(\"img/icons/winning.png\");")
                .item-title ВЫигран тендер
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-3.png\");")
                .bg_blue
                .bg
                .item-title ООО ИО "ИНСАЙТ" - РЕЗИДЕНТ ТЕХНОПАРКА
              a.item(href="#")
                .bg_blue
                .bg
                .logo(style="background-image: url(\"img/icons/certificate.png\");")
                .item-title Аттестация персонала
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-4.png\");")
                .bg_blue
                .bg
                .item-title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК "САМБО"
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-5.png\");")
                .bg_blue
                .bg
                .item-title ВЫСТАВКа "БУДУЩЕЕ РОССИИ"
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-6.png\");")
                .bg_blue
                .bg
                .item-title ООО ИО "ИНСАЙТ" - РЕЗИДЕНТ ТЕХНОПАРКА
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-7.png\");")
                .bg_blue
                .bg
                .item-title Участие в бизнес-Саммите 2017
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-8.png\");")
                .bg_blue
                .bg
                .item-title Участие в бизнес-Саммите 2017
              a.item(href="#", style="background-image: url(\"img/pics/Mask Group-9.png\");")
                .bg_blue
                .bg
                .item-title Регистрация ЭТЛ
    section#pagination
      .container
        .pagination_block
          a.page_link.start(href="#") В начало
          a.page_link.prev(href="#") ← Назад
          .num-block
            a.page_link.page-num(href="#") 2
            a.page_link.page-num(href="#") 3
            a.page_link.page-num.active(href="#") 4
            a.page_link.page-num(href="#") 5
            a.page_link.page-num(href="#") 6
          a.page_link.next(href="#") Вперед →
          a.page_link.end(href="#") В конец