extends partial/_layout

block content
  main.blog_item_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item
                  a(href="blog.html") Блог
                li.breadcrumb-item.active(aria-current="page") 28.06.2018 - Завершены испытания ПТК «Самбо»
    section#blog
      .container
        .row
          .offset-lg-2.col-lg-7
            h1.blog_title БЛОГ
        .row
          .offset-lg-1.col-lg-4.col-md-5
            .blog_date Опубликовано:
            #date 28.06.2018
          .col.offset-lg-1.order-md-7
            .blog_content_title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК «САМБО»
        .row
          .offset-lg-1.col-lg-10
            #blog_content
              .blog_image.LiquidFill
                img(src="img/pics/blog_content_bg.png")
              .blog_content_text В декабре 2015 года были успешно проведены испытания программно- технического комплекса "САМБО", разработанного специалистами ООО ИО "Инсайт". 28 декабря 2015 года получен "Акт подтверждения соответствия ПТК "САМБО" техническим требованиям к ПТК СМИС объектов, сопрягаемых с органами повседневного управления РСЧС". В течении 1,5 лет Компания формировала пакет разрешительной документации, который должны иметь все программно-технические комплексы, заявленные разработчиками, как системы, реализующие функции структурированных систем мониторинга и управления инженерными системами зданий. Главными особенностями ПТК "САМБО", отличающего его от ПТК СМИС других производителей являются: • соответствие программе по импортозамещению • все компоненты ПТК "САМБО" только российского производства; • масштабируемость • модульное решение, состав которого определеяется размером, уровнем сложности и информационной емкостью объекта; • стоимость • гибкая политика ценообразования, позволяющая добиться оптимального соотношения "цена/качество"; • надежность • обеспечение отказоустойчивости за счет резервирования всех элементов ПТК; сохранность и целостность данных • архивирование данных на всех уровнях; кроссплатформенность • программное обеспечение ПТК "САМБО" работает на основных операционых системах (Linux, QNX, Windows и др.); информационная совместимость • возможность приема данных по любым открытым стандартам и протоколам (ОРС, Modbus, BACnet и др.).
          a.blog_prev(href="#")
            .blur
          a.blog_next(href="#")
            .blur
    section#gallery
      .container
        .row
          .offset-1.col
            .gallery_title Галерея
        .row
          .col-12
            .swiper-container.gallery-top
              .swiper-wrapper
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g3-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
            .swiper-container.gallery-thumbs
              .swiper-wrapper
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g3-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
              // Add Arrows
            #gallery-next.swiper-button-next
            #gallery-prev.swiper-button-prev
    section#news_more
      .container
        .row
          .offset-sm-1.col
            .news_more_title Возможно это вам будет интересно:
        .row
          .col-12
            .block_news
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group.png\");")
                .bg_blue
                .bg
                .title ВСТРЕЧА С ГУБЕРНАТОРОМ НИЖЕГОРОДСКОЙ ОБЛАСТИ
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-1.png\");")
                .bg_blue
                .bg
                .title ПОЛУЧЕНЫ СЕРТИФИКАТЫ НА ПТК МОНЭКО
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-2.png\");")
                .bg_blue
                .bg
                .title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК "САМБО"
              a.news-item(href="#")
                .bg_blue
                .bg
                .logo(style="background-image: url(\"img/icons/winning.png\");")
                .title ВЫигран тендер
        .row
          .col-12
            a.news_link.d-flex.justify-content-end(href="blog.html") Все новости ⯈