extends partial/_layout

block content
  main.career_tab_2
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="#") Главная
                li.breadcrumb-item.active(aria-current="page") Карьера
    section#carier_tabs
      .container
        .row
          .offset-lg-2.col-lg-3.col-md-4.col-6
            a.tab(href="career_tab_1.html") КАРЬЕРА
          .col-lg-3.col-md-4.col-6
            h1: a.tab.active(href="#") ВАКАНСИИ
    section#tabs_content
      .bg
      .container
        .row
          .col-lg-8.offset-lg-2
            .vacancy
              .title ИНЖЕНЕР-ПРОЕКТИРОВЩИК ПО АСУ ТП
              .duties_title Обязанности
              .duties_text Выполнение проектной и рабочей документации по АСУ ТП  и СМИС промышленных объектов энергетики, нефтегазовой промышленности
              .requirements_title Требования
              ul.requirements_text
                li Высшее образование
                li Опыт работы от 2-х лет
                li Желателен опыт разработки проектов АСУ ТП (контроллерный уровень и уровень диспетчерских систем управления), СМИС, знание серверного и контроллерного оборудования различных производителей, знание нормативной документации в области проектирования АСУ ТП, СМИС
                li Приветствуется знание оборудования HP, Deil, Yokogawa, Siemens, Emerson, Honeywell и др., опыт разработки конструкторской и эксплуатационной документации
              .conditions_title
              .conditions_text
            .vacancy
              .title ВЕДУЩИЙ ИНЖЕНЕР-ТЕХНОЛОГ (ИНЖЕНЕР-ТЕХНОЛОГ 1, 2 КАТЕГОРИИ МОНТАЖНО-ТЕХНОЛОГИЧЕСКОГО ОТДЕЛА)
              .duties_title Обязанности
              ul.duties_text
                li Разработка проектной и рабочей документации раздела ТХ (нефтехимия, нефтепереработка)
                li Разработка, корректировка технологических схем
                li Подбор (расчет) технологического оборудования (технологические расчеты)
                li Гидравлический расчет трубопроводов
              .requirements_title Требования
              ul.requirements_text
                li Высшее профильное образование
                li Опыт работы от 5-ти лет в проектировании ТХ (нефтехимия, нефтепереработка)
                li AvtoCad, знание расчетных программ, 3D моделирование
              .conditions_title Условия
              ul.conditions_text
                li 5/2, оформление по ТК РФ, стандартный соц.пакет
                li заработная плата высокая, устанавливается по результатам собеседования на основании
                li квалификации (опыта) кандидата
                li обучение, профессиональный и карьерный рост
                li крупные интересные проекты
                li корпоративные мероприятия
                li комфортный психологический климат
                li офис в центре города (Бизнес Центр "Лондон")
    section#contacts
      .contacts_title КОнтакты отдела персонала
      .container
        .row.justify-content-center
          .col-12
            .contacts_block
              #map_route(data-adresse="Нижний Новгород, ул. Ошараская, 77А")
              .contacts_content
                .telephone
                  .title Телефон
                  a.descr(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
                .email
                  .title Электронная почта
                  a.descr(href="mailto:info@eainsight.ru") info@eainsight.ru
                .adress
                  b г. Нижний Новгород,
                  |  ул.Академика Сахарова, 4
                a.link(href="contacts_route.html") Схема проезда