extends partial/_layout

block content
  main.career_tab_1
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Карьера
    section#carier_tabs
      .container
        .row
          .offset-lg-2.col-lg-3.col-md-4.col-6
            h1: a.tab.active(href="#") КАРЬЕРА
          .col-lg-3.col-md-4.col-6
            a.tab(href="career_tab_2.html") ВАКАНСИИ
    section#tabs_content
      .container
        .row
          .col-lg-2
            .subtitle МЫ СТРЕМИМСЯ:
          .col-lg-8
            .text Быть современной, инновационной, технологичной и конкурентоспособной компанией. Мы идем в ногу со временем, имеем собственные разработки, выстраиваем партнёрские отношения с мирового уровня российскими и зарубежными компаниями, выполняем полный комплекс EPCM - проектов.
        .row
          .col-lg-2
            .subtitle МЫ ПРЕДЛАГАЕМ:
          .col-lg-10.col-12
            .content_block
              .item
                .line
                  .item_icon
                  .item_title Интересную работу
                .item_text Наши клиенты - крупные широко известные заказчики, на предприятиях которых, мы реализовываем масштабные и высокотехнологичные проекты.
              .item
                .line
                  .item_icon
                  .item_title Стабильность и социальные гарантии
                .item_text Компания стабильно работает на рынке с 2005 года, успешно преодолевая экономические кризисы и используя их для выхода на новые этапы своего развития. Каждому работнику мы даем социальные гарантии, соответствующие ТК РФ.
              .item
                .line
                  .item_icon
                  .item_title Широкие возможности для обучения и карьерного рост
                .item_text Наши коллеги повышают квалификацию на курсах,семинарах, получают дополнительное образование, в том числе за рубежом. У нас трудятся как молодые сотрудники, недавно окончившие ВУЗ, так и редкие, высококвалифицированные специалисты, у которых есть чему научиться.
              .item
                .line
                  .item_icon
                  .item_title Хорошие условия труда
                .item_text Офис в бизнес-центре класса «А» в центре города. Рабочие места оснащены современным техническим оборудованием и программным обеспечением.Обедаем мы в кафе, также есть кухня. А еще у нас гибкий график начала и окончания рабочего дня.
              .item
                .line
                  .item_icon
                  .item_title Достойную заработную плату
                .item_text Сотрудники получают ежемесячное гарантированное вознаграждение, предусмотрено дополнительное премирование по результатам завершения проектов и по итогам работы за год.
              .item
                .line
                  .item_icon
                  .item_title Дружный сплоченный коллектив, корпоративные мероприятия
                .item_text Мы умеем весело и дружно отдыхать, любим спорт. Выезжаем на природу, проводим соревнования,  поздравляем коллег с праздничными датами. Средний возраст наших  сотрудников - 36 лет.
        .row
          .col-lg-2
            .subtitle наши ожидания:
          .col-lg-8
            .text Мы ожидаем от наших сотрудников профессионализма, постоянного повышения квалификации, проявления инициативы и ответственности за качество выполняемой работы, а также сотрудничества, доброжелательности и открытости в отношениях с коллегами и партнерами.