extends partial/_layout

block content
  main.contacts_route
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Контакты
    section#contacts
      .container
        .row
          .offset-lg-2.col-lg-7
            h1.contacts_title КОНТАКТЫ
        .row
          .col-12
            #map_route(data-adresse="Нижний Новгород, ул. Ошараская, 77А")