extends partial/_layout

block content
  main.contacts_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Контакты
    section#contacts
      .container
        .row
          .offset-lg-2.col-lg-7
            h1.contacts_title КОНТАКТЫ
      .map
        #map_route(data-adresse="Нижний Новгород, ул. Ошараская, 77А")
        .container
          .row
            .offset-lg-5.col-lg-7.col-12
              .contacts_content
                .telephone
                  .title Телефон
                  a.descr(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
                .email
                  .title Электронная почта
                  a.descr(href="mailto:info@eainsight.ru") info@eainsight.ru
                .adress
                  .title Адрес
                  .descr 603162, г. Нижний Новгород, ул. Академика Сахарова, д. 4
                  a.link(href="contacts_route.html") Схема проезда
