extends partial/_layout_main

block content
  main.page-index
    section#mission
      .container-fluid
        .container
          .row
            .col-xl-3.col-lg-4.col-md-5.col-12
              h2.mission_title МИССИЯ
            .col-xl-4.col-lg-4.col-md-6.col-12
              .mission_text Применяя современные технологии автоматизации производства, проектирования и строительства, мы повышаем эффективность управления предприятий наших Заказчиков.
          .row
            .col-xl-3.col-lg-4.col-md-5.col-12
              h2.mission_title СТРАТЕГИЯ
            .col-xl-4.col-lg-4.col-md-6.col-12
              .mission_text Мы стремимся к лидерству в своей области путем наращивания компетенции инжиниринговых услуг, создания репутации надежного партнера, имеющего специалистов высокой квалификации, понимающего и удовлетворяющего требования и ожидания заказчиков, обладающего высокой социальной ответственностью.
    section#advantages
      .container-fluid
        .advantages_bg(style="background: url(\"img/pics/adv_bg.png\")")
        .advantages_title
          p НАШИ
          p ПРЕИМУЩЕСТВА
        .container
          .row
            .col-xl-4.offset-xl-6.col-lg-4.offset-lg-4.col-md-6.offset-md-3.col-12
              .advantages_subtitle Стратегически значимые направления деятельности нашей компании:
          .row
            .col-xl-8.offset-xl-4.col-lg-10.offset-lg-1.col-12
              .advantages_block
                a.item
                  .item_logo
                  .item-text создание автоматизированных систем управления
                a.item
                  .item_logo
                  .item-text разработка собственного программно- технического комплекса
                a.item
                  .item_logo
                  .item-text разработка программно- технического комплекса вибромониторинга
                a.item
                  .item_logo
                  .item-text разработка законченных технических проектов на нестандартное оборудование
                a.item
                  .item_logo
                  .item-text развитие производственного участка для сборки низковольтных комплектных устройств
                a.item
                  .item_logo
                  .item-text взаимодействие с технопарком "Анкудиновка"
    section#projects
      .proj_bg
      .container-fluid
        .container
          .row
            .col-12
              h2.projects_title НАШИ ПРОЕКТЫ
          .row
            .col-12
              .map
                .point(data-toggle="popover", data-html="true", data-placement="top", data-popover-content="#p1")
                .point(data-toggle="popover", data-html="true", data-placement="top", data-popover-content="#p2")
                .point(data-toggle="popover", data-html="true", data-placement="top", data-popover-content="#p3")
                .point(data-toggle="popover", data-html="true", data-placement="top", data-popover-content="#p4")
                #p1
                  .point-img.LiquidFill
                    img(src='img/pics/bg.png')
                  .point-content
                    .point_title ПО ПРОИЗВОДСТВУ ПВХ
                    .point_text Рhhhhhhhhhhhh hhhhhhhhh hhhhh hhhhhhhh hhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhh hhhhhhh hhhh hhhhhh hh hhhhhhhhhhhhhhhhhhhhh hhhhhhhhhhhhhh
                    a.point_link(href="projects_item.html") Открыть проект
                #p2
                  .point-img.LiquidFill
                    img(src='img/pics/img7.png')
                  .point-content
                    .point_title КОМПЛЕКС ПВХ
                    .point_text пусконаладочные работы, сертификация, пусконаладочные работы, сертификация пусконаладочные работы, сертификация пусконаладочные работы, сертификация
                    a.point_link(href="projects_item.html") Открыть проект
                #p3
                  .point-img.LiquidFill
                    img(src='img/pics/g1.png')
                  .point-content
                    .point_title ПВХ ПВХ ПВХ ПВХ ПВХ ПВХ
                    .point_text очные работы, сертификация, пусконаладочные работы, сертификация пусконаладочные работы, сертификация пусконаладочные работы, сертификация
                    a.point_link(href="projects_item.html") Открыть проект
                #p4
                  .point-img.LiquidFill
                    img(src='img/pics/partner7.png')
                  .point-content
                    .point_title ПРОИЗВОДСТВУ ПРОИЗВОДСТВУПРОИЗВОДСТВУ ПВХ
                    .point_text ертификация, пусконаладочные работы, сертификация пусконаладочные работы, сертификация пусконаладочные работы, сертификация
                    a.point_link(href="projects_item.htm") Открыть проект
    section#partners
      .container
        .row
          .col-12
            h2.partners_title Наши Партнеры
        .row.justify-content-center
          .col-12
            .partners_block
              - for(var i = 0; i < 8; ++i) {
              .item(style=`background-image: url(\"img/pics/partner${i+1}.png\");`)
              - }
            a.partners_link(href="partners.html") Наши Партнеры ➞
    section#portfolio
      .container(style="background: url(\"img/pics/port_bg.png\");")
        .row
          .col-xl-6.offset-xl-5.col-lg-7.offset-lg-5.col-12
            h2.portfolio_title ООО ИО "ИНСАЙТ" — РЕЗИДЕНТ ТЕХНОПАРКА
        .row
          .col-12.d-none.d-md-block.d-lg-none.d-sm-block
            .portfolio_image
              img(src="img/pics/port_bg.png")
        .row
          .col-xl-5.offset-xl-6.col-lg-5.offset-lg-7.col-12
            .portfolio_text В марте 2017 г. наша Компания получила статус резидента технопарка "Анкудиновка". Данный статус позволит нам развивать инновационные направления деятельности на более льготных условиях, что позволит снизить себестоимость производимого продукта. В рамках программы по внедрению систем мониторинга инженерных систем (СМИС) на промышленных объектах нами был заявлен проект ПТК "САМБО".
            a.portfolio_link(href="#") технопарк «Анкудиновка»
    section#blog
      .container
        .row.justify-content-center
          .col-xl-6.col-lg-6.col-md-8.col-12
            h2.blog_title Блог
            .blog_subtitle Квант, несмотря на некоторую вероятность коллапса, оптически стабилен. Поток концентрирует векторный поток.
        .row
          .col-xl-6.col-lg-6.col-md-12.col-12
            a.blog_item(href="#")
              .blog_item_bg.LiquidFill
                img(src="img/pics/blog_item_bg_1.png")
              .blog_info
                .blog_date Июнь 14, 2018
                .blog_item_title Вихревой квант: методология и особенности
                .blog_text Жидкость асферично вращает гамма-квант. В слабопеременных полях (при флуктуациях на уровне единиц процентов) колебание устойчиво отталкивает экзотермический магнит, как и предсказывает общая теория поля. Поток вращает экситон.
                .blog_more Читать далее...
          .col-xl-6.col-lg-6.col-md-12.col-12
            a.blog_item(href="#")
              .blog_item_bg.LiquidFill
                img(src="img/pics/blog_item_bg_2.png")
              .blog_info
                .blog_date Июль 25, 2018
                .blog_item_title Экзотермический кварк глазами современников
                .blog_text Жидкость асферично вращает гамма-квант. В слабопеременных полях (при флуктуациях на уровне единиц процентов) колебание устойчиво отталкивает экзотермический магнит, как и предсказывает общая теория поля. Поток вращает экситон. Жидкость асферично вращает гамма-квант. В слабопеременных полях (при флуктуациях на уровне единиц процентов) колебание устойчиво отталкивает экзотермический магнит, как и предсказывает общая теория поля. Поток вращает экситон.
                .blog_more Читать далее...
        .row
          .col-12
            button.btn Открыть блог
    section#contacts
      h2.contacts_title наши контакты
      .container
        .row.justify-content-center
          .col-xl-10.col-lg-11.col-12
            .contacts_block
              #map_route(data-adresse="Нижний Новгород, ул. Ошараская, 77А")
              .contacts_content
                .telephone
                  .title Телефон
                  a.descr(href="tel:+7(831)220-33-77") +7 (831) 220-33-77
                .email
                  .title Электронная почта
                  a.descr(href="mailto:info@eainsight.ru") info@eainsight.ru
                .adress
                  b г. Нижний Новгород,
                  |  ул.Академика Сахарова, 4
                a.link(href="contacts_route.html") Схема проезда