extends partial/_layout

block content
  main.page-map-index
    section#projects
      .proj_bg
      .container-fluid
        .container
          .row
            .col-12
              h1.projects_title НАШИ ПРОЕКТЫ
          .row
            .col-12
              .map
                #point-content
                  .point_title КОМПЛЕКС ПО ПРОИЗВОДСТВУ ПВХ
                  .point_text Разработка рабочей документации, строительно-монтажные работы, пусконаладочные работы, сертификация
                  a.point_link(href="#") Открыть проект