extends partial/_layout

block content
  main.partners_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Партнеры
    section#partners
      .container
        .row
          .col-lg-9.offset-lg-2
            h1.partners_title НАШИ ПАРТНЕРЫ
        .row
          .col-md-6
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-1.png")
              .partner_name ПАО «ГАЗПРОМ АВТОМАТИЗАЦИЯ»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-2.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-3.png")
              .partner_name ОАО «ТАИФ-НК»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-4.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-5.png")
              .partner_name ОАО «ТАИФ-НК»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-6.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-7.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-8.png")
              .partner_name ПАО «ГАЗПРОМ АВТОМАТИЗАЦИЯ»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-9.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
          .col-md-6
            .page_text Для нас очень важны чёткая организация каждого этапа работы, эффективная поддержка на всех уровнях и высокая квалификация партнеров. Компания "ИНСАЙТ" выражает благодарность и надеется на долгое и плодотворное сотрудничество.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-10.png")
              .partner_name ОАО «ТАИФ-НК»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-11.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-12.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-13.png")
              .partner_name ПАО «ГАЗПРОМ АВТОМАТИЗАЦИЯ»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-14.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-15.png")
              .partner_name ОАО «ТАИФ-НК»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-16.png")
              .partner_name ОАО «ВНИПИнефть»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-17.png")
              .partner_name ПАО «ГАЗПРОМ АВТОМАТИЗАЦИЯ»
              .partner_text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Равным образом начало повседневной работы по формированию позиции.
            .partner_block
              .partner_logo.LiquidFill
                img(src="img/pics/partner-logo-18.png")
              .partner_name ОАО «ТАИФ-НК»
              .partner_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.