extends partial/_layout

block content
  main.projects_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Проекты
    section#projects
      .container
        .row
          .col-lg-9.offset-lg-2
            h1.projects_title ПРОЕКТЫ
        .row
          .col-xl-5.col-lg-6
            .filters
              .filters_title Фильтр проектов
              form
                .filters_block_check
                  label.item.hide(for="ch1", data-set="1") Газовая промышленность
                  label.item.hide(for="ch2", data-set="2") Металлургия
                  label.item.hide(for="ch3", data-set="3") Нефтехимия и нефтепереработка
                  label.item.hide(for="ch4", data-set="4") СМИС
                  label.item.hide(for="ch5", data-set="5") Химическая промышленность
                  label.item.hide(for="ch6", data-set="6") Энергетика
                  label.item.hide(for="ch7", data-set="7") Другие
                .filters_block
                  label.item(for="ch1", data-set="1") Газовая промышленность
                  label.item(for="ch2", data-set="2") Металлургия
                  label.item(for="ch3", data-set="3") Нефтехимия и нефтепереработка
                  label.item(for="ch4", data-set="4") СМИС
                  label.item(for="ch5", data-set="5") Химическая промышленность
                  label.item(for="ch6", data-set="6") Энергетика
                  label.item(for="ch7", data-set="7") Другие
                  input(type="text", id="ch1")
                  input(type="text", id="ch2")
                  input(type="text", id="ch3")
                  input(type="text", id="ch4")
                  input(type="text", id="ch5")
                  input(type="text", id="ch6")
                  input(type="text", id="ch7")
                  a.more_item.open(data-toggle="collapse", href="#collapseMore", role="button", aria-expanded="false", aria-controls="collapseMore") Еще фильтры ▼
                  a.more_item.closed(data-toggle="collapse", href="#collapseMore", role="button", aria-expanded="false", aria-controls="collapseMore") Скрыть дополнительные фильтры ▲
                #collapseMore.collapse
                  select#inlineFormCustomSelect1
                    option(selected="") Выберите вид работ...
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                  select#inlineFormCustomSelect2
                    option(selected="") Выберите год проекта...
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                    option(value="4") One
                    option(value="5") Two
                    option(value="6") Three
                    option(value="7") One
                    option(value="8") Two
                    option(value="9") Three
                    option(value="10") One
                    option(value="11") Two
                    option(value="12") Three
                .btn-group
                  button.clear_filters Сбросить фильтр
                  button.apply_filters(type="submit") Применить
          .col-lg-6.offset-xl-1
            .projects_text Текст-рыба. С другой стороны новая модель организационной деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют от нас анализа новых предложений. Равным образом консультация с широким активом в значительной степени обуславливает создание новых предложений. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же начало повседневной работы по формированию позиции требуют от нас анализа систем.
        .row
          .col-12
            .projects_content
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img1.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ УХТА"
                  .content_row
                    .service Проектно-изыскательские работы
                    .date_year 2014
                  .content_row Объекты технологической связи
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img2.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ УХТА"
                  .content_row
                    .service Разработка, инсталляция и настройка
                    .date_year 2014
                  .content_row Подсистемы диспетчерского управления на базе программных продуктов PSI Микуньского, Синдорского, Сосногорского, Урдомского, Шекснинского ЛПУ МГ
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img3.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                      .tag_item Газ
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Поставка ПТС, базового и прикладного программного обеспечения
                    .date_year 2011
                  .content_row Подсистема оперативного анализа состояния оборудования в режиме реального времени, анализа диспетчерских заданий, расчета ГТС, моделирования и сведения баланса, учета товарной продукции и "Журнала диспетчера" для базы Приморского, Хабаровского, Амурского ЛПУ МГ
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img4.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                      .tag_item Громышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Выполнение строительно-монажных и пусконаладочных работ
                    .date_year 2011
                  .content_row Ремонт объектов КИПиА Газовая турбинная установка ГТ -6750 (МГ Елец-Курск-Киев 41,4-от 0-41,4)" Елецкого ЛПУ МГ;Агрегат КС-4 № 1 Гавриловского ЛПУ МГ; Агрегат КС-4 № 4 Гаври-ловского ЛПУ МГ;Площадка компрессорных агрегатов КС-3 Тума Гавриловского ЛПУ МГ; Газоперекачивающий агрегат ГПА-12-05 Урал № 4 КС "Волокаламская Белоусовского ЛПУ»
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img5.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Выполнение строительно-монажных и пусконаладочных работ
                    .date_year 2011
                  .content_row Ремонт объектов КИПиА Газовая турбинная установка ГТ -6750 (МГ Елец-Курск-Киев 41,4-от 0-41,4)" Елецкого ЛПУ МГ;Агрегат КС-4 № 1 Гавриловского ЛПУ МГ; Агрегат КС-4 № 4 Гаври-ловского ЛПУ МГ;Площадка компрессорных агрегатов КС-3 Тума Гавриловского ЛПУ МГ; Газоперекачивающий агрегат ГПА-12-05 Урал № 4 КС "Волокаламская Белоусовского ЛПУ»
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img6.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ УХТА"
                  .content_row
                    .service Проектно-изыскательские работы
                    .date_year 2014
                  .content_row Объекты технологической связи
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img7.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ УХТА"
                  .content_row
                    .service Разработка, инсталляция и настройка
                    .date_year 2014
                  .content_row Подсистемы диспетчерского управления на базе программных продуктов PSI Микуньского, Синдорского, Сосногорского, Урдомского, Шекснинского ЛПУ МГ
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img8.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Поставка ПТС, базового и прикладного программного обеспечения
                    .date_year 2011
                  .content_row Подсистема оперативного анализа состояния оборудования в режиме реального времени, анализа диспетчерских заданий, расчета ГТС, моделирования и сведения баланса, учета товарной продукции и "Журнала диспетчера" для базы Приморского, Хабаровского, Амурского ЛПУ МГ
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img9.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item Газовая промышленность
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Выполнение строительно-монажных и пусконаладочных работ
                    .date_year 2011
                  .content_row Ремонт объектов КИПиА Газовая турбинная установка ГТ -6750 (МГ Елец-Курск-Киев 41,4-от 0-41,4)" Елецкого ЛПУ МГ;Агрегат КС-4 № 1 Гавриловского ЛПУ МГ; Агрегат КС-4 № 4 Гаври-ловского ЛПУ МГ;Площадка компрессорных агрегатов КС-3 Тума Гавриловского ЛПУ МГ; Газоперекачивающий агрегат ГПА-12-05 Урал № 4 КС "Волокаламская Белоусовского ЛПУ»
              a.projects_item(href="#")
                .projects_item_bg(style="background-image: url(\"img/pics/img10.png\");")
                  .blue
                  .bg
                .projects_item_content
                  .content_row
                    .tag
                      .tag_item
                    .company ООО "ГАЗПРОМ ТРАНСГАЗ ТОМСК"
                  .content_row
                    .service Выполнение строительно-монажных и пусконаладочных работ
                    .date_year 2011
                  .content_row Ремонт объектов КИПиА Газовая турбинная установка ГТ -6750 (МГ Елец-Курск-Киев 41,4-от 0-41,4)" Елецкого ЛПУ МГ;Агрегат КС-4 № 1 Гавриловского ЛПУ МГ; Агрегат КС-4 № 4 Гаври-ловского ЛПУ МГ;Площадка компрессорных агрегатов КС-3 Тума Гавриловского ЛПУ МГ; Газоперекачивающий агрегат ГПА-12-05 Урал № 4 КС "Волокаламская Белоусовского ЛПУ»
    section#pagination
      .container
        .pagination_block
          a.page_link.start(href="#") В начало
          a.page_link.prev(href="#") ← Назад
          .num-block
            a.page_link.page-num(href="#") 2
            a.page_link.page-num(href="#") 3
            a.page_link.page-num.active(href="#") 4
            a.page_link.page-num(href="#") 5
            a.page_link.page-num(href="#") 6
          a.page_link.next(href="#") Вперед →
          a.page_link.end(href="#") В конец