extends partial/_layout

block content
  main.projects_item_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item
                  a(href="projects.html") Проекты
                li.breadcrumb-item.active(aria-current="page") 28.06.2018 - Завершены испытания ПТК «Самбо»
    section#projects
      .container
        .row
          .offset-lg-2.col-lg-7
            h1.projects_title ПРОЕКТЫ
        .row
          .offset-lg-1.col-lg-4.col-md-5
            .projects_date Опубликовано:
            #date 28.06.2018
          .col.order-md-7
            .projects_content_title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК «САМБО»
        .row
          .offset-lg-1.col-lg-10
            #projects_content
              .projects_image.LiquidFill
                img(src="img/pics/blog_content_bg.png")
              .projects_content_text В декабре 2015 года были успешно проведены испытания программно- технического комплекса "САМБО", разработанного специалистами ООО ИО "Инсайт". 28 декабря 2015 года получен "Акт подтверждения соответствия ПТК "САМБО" техническим требованиям к ПТК СМИС объектов, сопрягаемых с органами повседневного управления РСЧС". В течении 1,5 лет Компания формировала пакет разрешительной документации, который должны иметь все программно-технические комплексы, заявленные разработчиками, как системы, реализующие функции структурированных систем мониторинга и управления инженерными системами зданий. Главными особенностями ПТК "САМБО", отличающего его от ПТК СМИС других производителей являются: • соответствие программе по импортозамещению • все компоненты ПТК "САМБО" только российского производства; • масштабируемость • модульное решение, состав которого определеяется размером, уровнем сложности и информационной емкостью объекта; • стоимость • гибкая политика ценообразования, позволяющая добиться оптимального соотношения "цена/качество"; • надежность • обеспечение отказоустойчивости за счет резервирования всех элементов ПТК; сохранность и целостность данных • архивирование данных на всех уровнях; кроссплатформенность • программное обеспечение ПТК "САМБО" работает на основных операционых системах (Linux, QNX, Windows и др.); информационная совместимость • возможность приема данных по любым открытым стандартам и протоколам (ОРС, Modbus, BACnet и др.). Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании модели развития. Задача организации, в особенности же реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки системы обучения кадров.
          a.projects_prev(href="#")
            .blur
          a.projects_next(href="#")
            .blur
    section#our_clients
      .container
        .row
          .col-lg-6.col-md-10.col-12
            .client
              .client_logo.LiquidFill
                img(src="img/icons/sibur_logo.png")
              .client_name
                b ООО «СИБУР-КСТОВО»
              .client_text «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан. «СИБУР-Кстово» объединяет нефтехимические мощности СИБУРа, расположенные в г. Кстово Нижегородской области. В корпоративной структуре СИБУРа «СИБУР-Кстово» входит в состав дирекции базовых полимеров. Дирекцию возглавляет управляющий директор Сергей Комышан.
          .col-lg-5.offset-lg-1
            .our_clients_title Для кого мы работали
            .our_clients_description Основными продуктами производств «СИБУР-Кстово» являются этилен, пропилен и бензол. Эти продукты применяются в качестве сырья для нефтехимических и химических предприятий, а также для предприятий других отраслей, которые производят широкий спектр разнообразной продукции.
              br
              br
              | Производственные мощности «СИБУР-Кстово» составляют 384 тыс. тонн в год по производству этилена, 180 тыс. тонн в год по производству пропилена, 96 тыс. тонн в год по производству бензола.
    section#reviews
      .container
        .row
          .col-lg-3
            .reviews_title ОТЗЫВЫ
          .col-lg-9
            .reviews_block
              .swiper-container.reviews-swiper
                .swiper-wrapper
                  a.swiper-slide.LiquidFill(href="img/pics/image 2.png")
                    .img-bg
                    img(src="img/pics/image 2.png")
                  a.swiper-slide.LiquidFill(href="img/pics/image 3.png")
                    .img-bg
                    img(src="img/pics/image 3.png")
                  a.swiper-slide.LiquidFill(href="img/pics/image 4.png")
                    .img-bg
                    img(src="img/pics/image 4.png")
                  a.swiper-slide.LiquidFill(href="img/pics/image 2.png")
                    .img-bg
                    img(src="img/pics/image 2.png")
                  a.swiper-slide.LiquidFill(href="img/pics/image 3.png")
                    .img-bg
                    img(src="img/pics/image 3.png")
              .btn-group
                #reviews-prev.swiper-button-prev ← Назад
                #reviews-next.swiper-button-next Вперед →
    section#gallery
      .container
        .row
          .col-12
            .gallery_title Галерея
            .swiper-container.gallery-top
              .swiper-wrapper
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g3-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
            .swiper-container.gallery-thumbs
              .swiper-wrapper
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g3-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g1-preview.png")
                .swiper-slide.LiquidFill
                  img.swiper-slide-container(src="img/pics/g2-preview.png")
              // Add Arrows
            #gallery-next.swiper-button-next
            #gallery-prev.swiper-button-prev
    section#news_more
      .container
        .row
          .offset-sm-1.col
            .news_more_title Возможно это вам будет интересно:
        .row
          .col-12
            .block_news
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group.png\");")
                .bg_blue
                .bg
                .title ВСТРЕЧА С ГУБЕРНАТОРОМ НИЖЕГОРОДСКОЙ ОБЛАСТИ
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-1.png\");")
                .bg_blue
                .bg
                .title ПОЛУЧЕНЫ СЕРТИФИКАТЫ НА ПТК МОНЭКО
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-2.png\");")
                .bg_blue
                .bg
                .title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК "САМБО"
              a.news-item(href="#")
                .bg_blue
                .bg
                .logo(style="background-image: url(\"img/icons/winning.png\");")
                .title ВЫигран тендер
        .row
          .col-12
            a.news_link.d-flex.justify-content-end(href="#") Все новости ⯈