extends partial/_layout

block content
  main.search_page
    section#nav_page
      .container
        .row.align-items-center
          .col-lg-2.col-sm-3.d-none.d-lg-block
          .col
            nav(aria-label="breadcrumb")
              ol.breadcrumb
                li.breadcrumb-item
                  a(href="index.html") Главная
                li.breadcrumb-item.active(aria-current="page") Поиск
    section#search
      .container
        .row
          .col-lg-9.offset-lg-2
            h1.search_title РЕЗУЛЬТАТЫ ПОИСКА
        .row
          .col-12
            .search_content
              a.search_item(href="#")
                .search_item_title Программное обеспечение системы АБЦ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
              a.search_item(href="#")
                .search_item_title Подсистема оперативного анализа состояния программируемого оборудования  в режиме реального времени, анализа диспетчерских заданий, расчета ГТС,  моделирования и сведения баланса, учета товарной продукции для базы Приморского, прибайкальского, сибирского и Амурского ЛПУ МГ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
              a.search_item(href="#")
                .search_item_title Программное обеспечение системы АБЦ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
              a.search_item(href="#")
                .search_item_title Подсистема оперативного анализа состояния программируемого оборудования  в режиме реального времени, анализа диспетчерских заданий, расчета ГТС,  моделирования и сведения баланса, учета товарной продукции для базы Приморского, прибайкальского, сибирского и Амурского ЛПУ МГ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
              a.search_item(href="#")
                .search_item_title Программное обеспечение системы АБЦ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
              a.search_item(href="#")
                .search_item_title Подсистема оперативного анализа состояния программируемого оборудования  в режиме реального времени, анализа диспетчерских заданий, расчета ГТС,  моделирования и сведения баланса, учета товарной продукции для базы Приморского, прибайкальского, сибирского и Амурского ЛПУ МГ
                .search_item_text Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет оценить значение существенных финансовых и административных условий. Не следует, однако забывать...
    section#pagination
      .container
        .pagination_block
          a.page_link.start(href="#") В начало
          a.page_link.prev(href="#") ← Назад
          .num-block
            a.page_link.page-num(href="#") 2
            a.page_link.page-num(href="#") 3
            a.page_link.page-num.active(href="#") 4
            a.page_link.page-num(href="#") 5
            a.page_link.page-num(href="#") 6
          a.page_link.next(href="#") Вперед →
          a.page_link.end(href="#") В конец
    section#news_more
      .container
        .row
          .offset-sm-1.col
            .news_more_title Возможно это вам будет интересно:
        .row
          .col-12
            .block_news
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group.png\");")
                .bg_blue
                .bg
                .title ВСТРЕЧА С ГУБЕРНАТОРОМ НИЖЕГОРОДСКОЙ ОБЛАСТИ
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-1.png\");")
                .bg_blue
                .bg
                .title ПОЛУЧЕНЫ СЕРТИФИКАТЫ НА ПТК МОНЭКО
              a.news-item(href="#", style="background-image: url(\"img/pics/Mask Group-2.png\");")
                .bg_blue
                .bg
                .title ЗАВЕРШЕНЫ ИСПЫТАНИЯ ПТК "САМБО"
              a.news-item(href="#")
                .bg_blue
                .bg
                .logo(style="background-image: url(\"img/icons/winning.png\");")
                .title ВЫигран тендер
        .row
          .col-12
            a.news_link.d-flex.justify-content-end(href="blog.html") Все новости ⯈